{% extends "base.html.twig" %}

{% block title %} Information {{ users.nom }} {% endblock %}
{% block head %} Information {{ users.nom }} {% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <table class="table">
                <tr>
                    <th> Nom: </th>
                    <td> {{ users.nom }} </td>
                </tr>
                <tr>
                    <th> Prenom :</th>
                    <td> {{ users.prenom }} </td>
                </tr>
                <tr>
                    <th> Responsable : </th>
                    <td> {{ users.responsabilite }} </td>
                </tr>
                <tr>
                    <th> Agence : </th>
                    <td> {{ users.agence.NomAgence }} </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}