{% extends "base.html.twig" %}

{% block title %}
    Depot de compte epargne {{ info.nom_client }}
{% endblock %}

{% block head %}
    Compte epargne/ Entrée client individuel {{ info.nom_client }}
{% endblock %}

{% block body %}
    {{ include('modal.html.twig') }}
    <div style="display:none;">
        <p> Text ecrit : <span id="text"> </span> </p>
    </div>

    <div class="card p-3">
        <div class="card mb-3">
            <div class="row text-secondary m-3">
                <div class="col-xl-4 col-md-4 col-sm-4">
                    {% if info.typeClient == "GROUPE" %}
                        <p><b> Nom Client :</b> <span id="nom"> {{ info.nomGroupe }}</span></p>
                        <p><b>Email :</b>  <span id="prenom"> {{ info.email }}</span></p>
                    {% else %}
                        <p><b> Nom Client :</b> <span id="nom"> {{ info.nom_client }}</span></p>
                        <p><b>Prenom client :</b>  <span id="prenom"> {{ info.prenom_client }}</span></p>
                    {% endif %}        
                    <p style="display: none;" id="produit-id">{{ id_produit }}</p>
                    <p> 
                        <b>Solde client : </b>
                        {% if solde != '' %}
                            <span id="solde_cli" style="display:none;">{{ solde }}</span>     
                            <span>{{ solde|number_format(0,',', ' ') }} </span>     
                            <span class="devise-solde"></span>
                        {% else %}
                            <span id="solde_cli">0</span>
                            <span class="devise-solde"></span>  
                        {% endif %} 
                    </p>
                </div>
                
            <div class="col-md-4 col-sm-4 m-auto">
                <div class="d-flex justify-content-center"> <h5 class="text-secondary"><i class="fas fa-sign-in"></i>
                    {% if status == "depot_a_vue_entree" %}
                        Entrée Depot a Vue 
                    {% elseif status == "depot_garantie_entree" %}
                        Entrée Dépot de garantie 
                    {% elseif status == "depot_a_terme_entree" %}
                        Entrée Dépot a terme 
                    {% else %}
                        Entrée epargne 
                    {% endif %}
                </h5></div>
            </div>
                <div class="col-xl-4 col-md-4 col-sm-4">
                        <p><b>Compte epargne : </b><span id="code_client"> {{ info.code }}</span></p>
                    {% if info.typeClient == "GROUPE" %}
                        <p><b>Code client :</b> <span id="code_client"> {{ info.codegroupe }}</span></p>
                    {% else %}
                        <p><b>Code client :</b> <span id="code_client"> {{ info.codeclient }}</span></p>
                    {% endif %}
                </div>
            </div>
            {{ include('Module_epargne/transaction/_form.html.twig') }}
        </div>
        <p style="display:none"><span id="code"> </span> </p>
        <p style="display:none"><span id="nom"> </span> </P>
        <p style="display:none"><span id="solde"> </span></p>
    </div>

{% endblock %} 
