{% extends "base.html.twig" %}

{% block title %}
    Retrait compte epargne 
{% endblock %}

{% block head %}
    Retrait compte epargne 
{% endblock %}

{% block body %}
     {# /***************Messages succes ******************/#}
    
     {% for message in app.flashes('success') %}
            {{ message }}
     {% endfor %}
    {# *************************************#}

{{ form_start(form) }}
  <div style="display:none;">
            <p> Text ecrit : <span id="text"> </span> </p>
    </div>
    <div class="row jumbotron jumbotron-fluid" style="color:black;">
        <div class="col-sm-5">
            {{ form_row(form.typeClient) }}
            {{ form_row(form.codeepargneclient) }}
            <div id="commune_suggest"> </div>
        </div>
    </div>
    <hr>
    <div class="row jumbotron jumbotron-fluid" style="color:black;">
        <div class="col-sm-5">
            {{ form_row(form.Description) }}
            {{ form_row(form.PieceComptable) }}
            {{ form_row(form.DateTransaction) }}
        </div>
        <div class="col-sm-5">
            {{ form_row(form.montant_bruite) }}
            {{ form_row(form.commission) }}
            {{ form_row(form.papeterie) }}
            {{ form_row(form.Montant) }}
        </div>
    </div>
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

<table class="table table-bordered">
    <thead class="alert alert-success"> 
        <tr>
            <th>Compte Epargne</th>
            <th>Nom et prenom client</th>
            <th>Solde</th>
        </tr>
    </thead> 
    <tbody class="jumbotron jumbotron-fluid">
        <tr>
            <td><span id="code"> </span> </td>
            <td><span id="nom"> </span> </td>
            <td><span id="solde"> </span> </td>
        </tr>
    </tbody>
</table>
{% endblock %}