{% extends "base.html.twig" %}

{% block title %}
    Retrait compte epargne 
{% endblock %}

{% block head %}
    Retrait compte epargne {{ info.nomGroupe }}
{% endblock %}

{% block body %}
    {{ include('modal.html.twig') }}
    <div class="card p-3">
        <div class="card mb-3">
            <div class="row text-secondary m-3">
                <div class="col-xl-4 col-md-4 col-sm-4">
                    <p> <b>Compte epargne : </b><span id="code_epargne_groupe"> {{ info.code }}</span></p>
                    <p> <b>Solde  : </b>
                        {% if solde != '' %}
                            <span id="solde_cli" style="display:none">{{ solde }}</span>    
                            <span>{{ solde|number_format(0,',', ' ') }}</span>  
                        {% else %}
                            <span id="solde_cli">0</span>  
                        {% endif %} 
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 m-auto">
                    <div class="d-flex justify-content-center"> <h5 class="text-secondary"> Retrait epargne </h5></div>
                </div>
                <div class="col-xl-4 col-md-4 col-sm-4">
                    <p><b> Nom groupe :</b> <span id="nom"> {{ info.nomGroupe }}</span></p>
                    <p><b> E-mail :</b> <span id="nom"> {{ info.email }}</span></p>
                </div>
            </div>
        </div>
        {{ form_start(form) }}
            <div class="row">
                <div class="col-sm-5" style="display:none;">
                    <p> Text ecrit : <span id="text"> </span> </p>
                    {{ form_row(form.typeClient) }}
                    {{ form_row(form.codeepargneclient) }}
                    {{ form_row(form.Description) }}
                    {{ form_row(form.montant_bruite) }}
                    {{ form_row(form.solde) }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    {{ form_row(form.DateTransaction) }}
                    {{ form_row(form.Montant) }}
                </div>
                <div class="col-sm-4 col-md-4">
                    {{ form_row(form.PieceComptable) }}
                    {{ form_row(form.papeterie) }}
                </div>
                <div class="col-sm-4 col-md-4">
                    {{ form_row(form.commission) }}
                </div>
            </div>
            
            <hr/>
            <div class="row">
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary">{{ button_label|default('Valider le retrait') }}</button>
                </div>
            </div>
        {{ form_end(form) }}
        <div id="modal-container">
            <div id="modal">
                <p id="modal-text"></p>
                <div id="close-btn">&times;</div>
            </div>
        </div>
    </div>
{% endblock %}