{# {{ form_start(form) }}
    {# {{ form_widget(form) }} #}
    {# <button class="btn">{{ button_label|default('Save') }}</button> #}
{# {{ form_end(form) }} #} 

{{ form_start(form) }}
  <ul class="nav nav-tabs">
      <li class="nav-item"> <a class="nav-link {{ activer|default(' ') }}" data-bs-toggle="tab" href="#General">General</a></li>
      <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#Interet">Interet</a></li>
      <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#Garantie">Garantie</a></li>
      <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#Frais">Frais</a></li>
      <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#Penalite">Penalite</a></li>
      <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#Promotion">Promotion</a></li>
  </ul>
  <div class="tab-content">

      <div class="tab-pane active" id="General">
        <div class="row shadow-sm p-1">
            <div class="col-12 col-sm-12 col-md-12">
              <h6 class="text-center text-primary">General</h6>
              <div class="row">
                  <div class="col-6 col-sm-6 col-md-6">
                       {# {{ form_row(form.ProduitCredit) }} #}
                      {{ form_row(form.Methode) }}
                      {{ form_row(form.Montant) }}
                  </div>
                  <div class="col-6 col-sm-6 col-md-6">
                      {{ form_row(form.MontantMin) }}
                      {{ form_row(form.Tranche) }}
                  </div>

              </div>
            </div>
        </div>
      </div>

      <div class="tab-pane" id="Interet">
        <div class="row shadow-sm p-1">
            <div class="col-12 col-sm-12 col-md-12">
                <h6 class="text-center text-primary">Interet</h6>
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6">
                      {{ form_row(form.InteretNormal) }}
                    </div>
                    <div class="col-6 col-sm-6">
                      {{ form_row(form.InteretRetard) }}
                    </div>
                </div>
            </div>
        </div>
      </div>

      <div class="tab-pane" id="Garantie">
        <div class="row shadow-sm p-1">
            <div class="col-12">
              <h6 class="text-center text-primary" >Garantie</h6>
              <div class="row">
                    <div class="col-6 col-sm-6">
                      {{ form_row(form.GarantieMoral) }}
                    </div>
                    <div class="col-6 col-sm-6">
                      {{ form_row(form.GarantieMaterielle) }}
                      {{ form_row(form.TauxGarantieMaterielle) }}
                      {{ form_row(form.GarantieFinanciere) }}
                      {{ form_row(form.TauxGarantieFinanciere) }}
                     </div>
              </div>
            </div>
        </div>
      </div>

      <div class="tab-pane" id="Frais">
        <div class="row shadow-sm p-1">
            <div class="col-12">
              <h6 class="text-center text-primary">Frais</h6>
                <div class="row">
                  <div class="col-6 col-sm-6 col-md-6">
                    {{ form_row(form.FraisDossier) }}
                  </div>
                  <div class="col-6 col-sm-6 col-md-6">
                    {{ form_row(form.FraisCommission) }}
                    {{ form_row(form.FraisPapeterie) }}
                  </div>
                </div>
            </div>
        </div>
      </div>

      <div class="tab-pane" id="Penalite">
        <div class="row shadow-sm p-1">
            <div class="col-12">
              <h6 class="text-center text-primary">Penalite </h6>
                  <div class="row">                
                      <div class="col-4 col-sm-4">
                        {{ form_row(form.PenalitePayementAntcp) }}
                        {{ form_row(form.RetardPourcentage) }}
                        {{ form_row(form.RetardForfaitaire) }}
                      </div>
                      <div class="col-4 col-sm-4">
                        {# {{ form_row(form.PayementAnticipe) }} #}
                        {{ form_row(form.RetardPeriodeJour) }}
                        {{ form_row(form.RetardPeriodeMois) }}
                          {{ form_row(form.RetardPeriode) }}
                      </div>
                  </div>
            </div>
        </div>
      </div>


            <div class="tab-pane" id="Promotion">
        <div class="row shadow-sm p-1">
            <div class="col-12">
              <h6 class="text-center text-primary">Promotion </h6>
                  <div class="row">                
                      <div class="col-4 col-sm-4">
                         {{ form_row(form.PenaliteDiminutionIntrt) }}
                      </div>
                      <div class="col-4 col-sm-4">
                      </div>
                  </div>
            </div>
        </div>
      </div>




  </div>
                      <div class="col-sm-4 mt-5">
                          <button class="btn btn-sm btn-primary">{{ button_label|default('Sauvegarder') }}</button>
                      </div>
{{ form_end(form) }}
