{% extends "base.html.twig" %}

{% block title %} Rappot de decaissement {% endblock %}
{% block head %} Rappot de decaissement {% endblock %}

{% block body %}
    <table class="table table1 table-bordered">
        <thead>
            <th>Numero Credit</th>
            <th>Nom et Prenom du client</th>
            <th>Montant</th>
            <th>Date demande </th>
<<<<<<< HEAD
            <th>Date d'approbation </th>
            <th>Date decaissement</th>
            <th>Agent de credit </th>
=======
            <th>Agent de credit demande </th>
            <th>Date d'approbation </th>
            <th>Agent de credit approuver </th>
            <th>Date decaissement</th>
            <th>Agent de credit decaissement</th>
>>>>>>> refs/remotes/origin/main
        </thead>

        <tbody>
            {% for liste in listeDecaisser %}
                <tr>
                    <td> {{ liste.NumeroCredit}} </td>
                    <td> {{ liste.nom_client }}  {{ liste.prenom_client }} </td>
                    <td> {{ liste.Montant}} </td>
                    <td> {{ liste.DateDemande|date('Y-m-d') }} </td>
<<<<<<< HEAD
                    <td> {{ liste.dateApprobation|date('Y-m-d') }} </td>
                    <td> {{ liste.dateDecaissement|date('Y-m-d') }} </td>
                    <td> {{ liste.agent }} </td>
=======
                    <td> {{ liste.AgentdeCreditDemande }} </td>
                    <td> {{ liste.dateApprobation|date('Y-m-d') }} </td>
                    <td> {{ liste.AgentDeCreditApprouver}} </td>
                    <td> {{ liste.dateDecaissement|date('Y-m-d') }} </td>
                    <td> {{ liste.AgentDeCreditDecaissement }} </td>
>>>>>>> refs/remotes/origin/main
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}