{% extends "base.html.twig" %}

{% block title %} Liste de demande approuvé {% endblock %}
{% block head %} Liste de demande approuvé {% endblock %}

{% block body %}
    <table class="table table1">
        <thead>
           <tr>
                <th>Code credit</th>
                <th>Date d'approbation</th>
                <th>Nom et prenom</th>
                <th>Status </th>
                <th>Montant de credit </th>
                <th> Description </th>
           </tr>
        </thead>
        <tbody>
            {% for liste in listeApprouver %} 
                <tr>
                    <td>{{ liste.NumeroCredit }}</td>
                    <td> {{ liste.dateApprobation|date('Y-m-d') }} </td>
                    <td> {{ liste.nom_client }} {{ liste.prenom_client }} </td>
                    <td> {{ liste.statusApprobation }}</td>
                    <td> {{ liste.Montant }}</td>
                    <td> {{ liste.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}