{% extends 'base.html.twig' %}

{% block title %}Fiche de Credit{% endblock %}
{% block head %}Fiche de Credit{% endblock %}

{% block body %}
    {{ include('modal.html.twig') }}
    
        <div class="card p-3">
             <div class="card">
                <div class="row text-secondary m-3">
                    <div class="col-2 col-sm-2 col-sm-2">
                    </div>
                    <div class="col-4 col-sm-4 col-sm-4">
                        <p class="fw-bold">Nom : {{ NomClient }}</p>
                        <p class="fw-bold"> Prenom :  {{ PrenomClient }} </p>
                    </div>
                    <div class="col-4 col-sm-4 col-sm-4">
                        <p class="fw-bold">Code Client : {{ Codecredit }} </p>
                        <p class="fw-bold"> Code Credit : {{ NumeroCredit }} </p>
                    </div>
                </div>
            </div>
        <table class="table table-bordered mt-2">
            <thead>
                <tr>
                    <th>Date transaction</th>
                    <th>Transaction</th>
                    <th>Capital du</th>
                    <th>Interet du</th>
                    <th>Montant du</th>
                    <th>Capital</th>
                    <th>Credit</th>
                    <th>Total</th>
                    <th>Solde Credit</th>
                    <th>Penalite</th>
                </tr>
              
            </thead>
            <tbody>
            {% for ficheCredit in Fiche %}
                <tr>
                    <td>{{ ficheCredit.DateTransaction|date("d/m/Y")}}</td>
                    <td>{{ ficheCredit.Transaction }}</td>
                    <td>{{ ficheCredit.CapitalDu }}</td>
                    <td>{{ ficheCredit.InteretDu }}</td>
                    <td>{{ ficheCredit.CreditDu }}</td>
                    <td>{{ ficheCredit.Capital }}</td>
                    <td>{{ ficheCredit.Interet }}</td>
                    <td>{{ ficheCredit.Total }}</td>
                    <td>{{ ficheCredit.SoldeCourant }}</td>
                    <td>{{ ficheCredit.Penalite }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {# {% endif %} #}

{% endblock %}
