{% extends "base.html.twig" %}

{% block title %}
    Decaissement
{% endblock %}

{% block head %}
    Decaissement
{% endblock %}

{% block body %}
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
        
                    <!-- Modal Header -->
                <div class="modal-header titre_modal">
                    <h4 class="modal-title text-center">Decaissement </h4>
                </div>
                {{ form_start(form) }} 
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 col-sm-12">
                                {{ form_widget(form.Client) }}
                                {{ form_widget(form.Mode) }}
                            </div>
                            <div class="col-12 col-sm-12" style="display:none">
                                {{ form_widget(form.nomclient) }}
                                {{ form_widget(form.prenomclient) }}
                                {{ form_widget(form.numerocredit) }}
                                {{ form_widget(form.montantcredit) }}
                                {{ form_widget(form.Interet) }}
                            </div>
                        </div>

                    </div>
            
                    <!-- Modal footer -->
                    <div class="modal-footer mb-0">
                        <input type="submit" value="valider" class="btn btn-primary">
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div> 
{% endblock %}