{% extends "base.html.twig" %}

{% block title %} Decaissement de credit individuel {% endblock %}
{% block head %}Decaissement/Liste de demande individuel approuver {% endblock %}


{% block body %}
        {{ include('modal.html.twig') }}
        <table class="table table-bordered table2 mt-3">
            <thead>
                <th>Numero  de credit </th>
                <th>Nom et Prenom</th>
                <th>Montant credit</th>
                <th>Action </th>
            </thead>
            <tbody> 
                {% for liste in demandeApprouver %}
                    <tr>
                        <td> {{ liste.NumeroCredit }} </td>
                        <td> {{ liste.nom_client }}  {{ liste.prenom_client }}  </td>
                        <td> {{ liste.Montant }} </td>
                        <td> {{ liste.NumeroCompteEpargne }} </td>
                        <td> <a href="{{ path('app_crud_decaissement_new_individuel',{'liste' : liste }) }}" class="btn btn-sm btn-info"> Decaisser</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock %}