{% extends 'base.html.twig' %}

{% block title %}Remboursement{% endblock %}

{% block body %}
    <h1>Remboursement</h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ remboursement.id }}</td>
            </tr> #}
            {# <tr>
                <th>Periode</th>
                <td>{{ remboursement.periode }}</td>
            </tr> #}
            <tr>
                <th>DateRemborsement</th>
                <td>{{ remboursement.dateRemborsement ? remboursement.dateRemborsement|date('Y-m-d') : '' }}</td>
            </tr>
            {# <tr>
                <th>Principale</th>
                <td>{{ remboursement.principale }}</td>
            </tr>
            <tr>
                <th>Interet</th>
                <td>{{ remboursement.interet }}</td>
            </tr>
            <tr>
                <th>MontanttTotal</th>
                <td>{{ remboursement.montanttTotal }}</td>
            </tr> #}
            {# <tr>
                <th>Codeclient</th>
                <td>{{ remboursement.codeclient }}</td>
            </tr> #}
            <tr>
                <th>Remboursement</th>
                <td>{{ remboursement.remboursement }}</td>
            </tr>
            {# <tr>
                <th>Annuite</th>
                <td>{{ remboursement.annuite }}</td>
            </tr> #}
            <tr>
                <th>Penalite</th>
                <td>{{ remboursement.penalite }}</td>
            </tr>
            <tr>
                <th>Commission</th>
                <td>{{ remboursement.commission }}</td>
            </tr>
            <tr>
                <th>Codecredit</th>
                <td>{{ remboursement.codecredit }}</td>
            </tr>
            {# <tr>
                <th>Typeamortissement</th>
                <td>{{ remboursement.typeamortissement }}</td>
            </tr> #}
        </tbody>
    </table>

    {# <a href="{{ path('app_remboursement_index') }}">back to list</a> #}

    <a href="{{ path('app_remboursement_edit', {'id': remboursement.id}) }}">edit</a>

    {{ include('remboursement/_delete_form.html.twig') }}
{% endblock %}
