{{ form_start(form) }}
  <ul class="nav nav-tabs">
      <li class="nav-item"> <a class="nav-link active" data-bs-toggle="tab" href="#etape1">Garantie Base sur epargne</a></li>
      <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#etape2" id="epargne">Garant</a></li>
  </ul>    
  <div class="tab-content">

{# Garantie base aur epargne #}

            <div class="tab-pane active" id="etape1">
                <div class="row shadow-sm p-3">
                    <div class="col-12 col-sm-12 col-md-12">
                    <h6 class="text-center text-primary">Garantie Base sur epargne</h6>
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-6">
                            {{ form_row(form.ProduitEpargne) }}
                            {{ form_row(form.CreditBaseEpargne) }}
                            {{ form_row(form.MontantCreditDmdIndividuel) }}
                            {{ form_row(form.MontantCreditDmdGroupe) }}
                            {{ form_row(form.MontantCrdAnciensCreditenCours) }}
                        </div>
                        <div class="col-6 col-sm-6 col-md-6">
                            {{ form_row(form.MontantCrdAnciensCreditenCoursGrp) }}
                            {{ form_row(form.GarantieBaseMontantCredit) }}
                            {{ form_row(form.DeduireGarantieAuDecaissement) }}
                            {{ form_row(form.DeduireGarantieAuDecaissementGrp) }}
                        </div>

                    </div>
                </div>
            </div>
      </div>

{# Garant et Garantie #}

                <div class="tab-pane" id="etape2">
                <div class="row shadow-sm p-3">
                    <div class="col-12 col-sm-12 col-md-12">
                    <h6 class="text-center text-primary">Garant</h6>
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-6">
                            {{ form_row(form.GarantieObligatoireCreditInd) }}
                            {{ form_row(form.MontantExige) }}
                            {{ form_row(form.regle) }}
                        </div>
                        <div class="col-6 col-sm-6 col-md-6">
                            {{ form_row(form.GarantObligatoireCreditInd) }}
                            {{ form_row(form.MontantGarant) }}
                            {{ form_row(form.GarantObligatoireCreditGrp) }}
                            {{ form_row(form.MontantGarantieGrp) }}
                            {{ form_row(form.reglegrp) }}
                        </div>

                    </div>
                </div>
            </div>
      </div>

  </div>


    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
