{{ form_start(form) }}
<div class="ms-5 me-5">
    <div class="row w-70">
        <div class="col-6 col-sm-6">
            {{ form_row(form.codeenvoyeur) }}
            
            <div class="info">
                <p>Code envoyeur :  <span id="code_env"></span></p>
                <p>Nom envoyeur :  <span id="nom_env"></span></p>
                <p>Prenom envoyeur :  <span id="prenom_env"></span></p>
                <p>Solde envoyeur :  <span id="solde_env"></span></p>
            </div>

            <div style="display: none;">
                {{ form_row(form.expediteur) }}
                {{ form_row(form.soldeenvoyeur) }}
                {{ form_row(form.nomenvoyeur) }}
                {{ form_row(form.prenomenvoyeur) }}
            </div>
        </div>
        <div class="col-6 col-sm-6 ">
            {{ form_row(form.codedestinateur) }}

            <div class="info">
                <p>Code destinataire :  <span id="code_dest"></span></p>
                <p>Nom destinataire :  <span id="nom_dest"></span></p>
                <p>Prenom destinataire :  <span id="prenom_dest"></span></p>
                <p>Solde destinataire :  <span id="solde_dest"></span></p>
            </div>

            <div style="display: none;">
                {{ form_row(form.receveur) }}
                {{ form_row(form.soldedestinataire) }}
                {{ form_row(form.nomdestinatare	) }}
                {{ form_row(form.prenomdestinataire	) }}
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4 col-4 m-auto">
            {{ form_row(form.montantdestinataire) }}
            {{ form_row(form.date_transaction_t) }}
        </div>
        <div class="col-4 col-sm-4 m-auto">    
            {{ form_row(form.type_client_t	) }}
            {{ form_row(form.piece_comptable_t) }}
            <div style="display: none">
                {{ form_row(form.codetransaction_t) }}
                {{ form_row(form.description_t) }}
            </div>
        </div>
    </div>
<hr/>
    <div class="d-flex justify-content-center">
        <button class="btn btn-primary m-2">{{ button_label|default('Valider la transfert') }}</button>
    </div>
</div>
{{ form_end(form) }}
