{% extends "base.html.twig" %}

    {% block title %}
        {% if affiche_tab  == false %}
            Rapport client 
        {% else %}
            Liste des clients {% if date_1 == true %} jusq'a {{ one_date| date('d-m-Y') }} {% else %} du {{ du| date('d-m-Y') }} au {{ au| date('d-m-Y')  }}{% endif %}  
        {% endif %}
    {% endblock %}

    {% block head %}
        {% if affiche_tab  == false %}
            Rapport client 
        {% else %}
            Liste des clients {% if date_1 == true %} jusq'a {{ one_date| date('d-m-Y') }} {% else %} du {{ du| date('d-m-Y') }} au {{ au| date('d-m-Y')  }}{% endif %}  
        {% endif %}
    {% endblock %}

{% block body %}
    {% if affiche_tab  == false %}

                <div class="card m-5 p-4">
                    {{ form_start(trier) }}
                    <h4 class="text-primary text-center">Recherche client par date</h4>
                    <div class="row">
                        <div class="col-12 col-sm-12"> 
                            <div class="text-center" id="one_date">
                                <h4 class="text-center"> Dans une date arrêtée </h4>
                                {{ form_row(trier.search_one_date) }}
                            </div>
                        </div>
                    </div>
                    <div class="row text-center" id="two_date">
                            <h4 class="text-center">Entre deux dates </h4>
                            <div class="row">
                                <div class="col-sm-6">
                                    {{ form_row(trier.date1) }}
                                </div>
                                <div class="col-6 col-sm-6"> 
                                    {{ form_row(trier.date2) }}
                                </div>
                            </div>
                    </div>
                        
                        
                        <div class="row">
                            {{ form_row(trier.Chercher) }}
                        </div>
                    {{ form_end(trier) }}
                </div>

 <p id="test">  <p>
    {% else %}
            <table class="table1 table alert alert-primary" style="margin-top:20px;">
            <thead>
                <tr>
                    <th>Code client</th>
                    <th>Nom client</th>
                    <th>Prenom client</th>
                    <th>Cin</th>
                    <th>Date inscription</th>
                </tr>
            </thead>
            <tbody class="jumbotron jumbotron-fluid" style="color:black;">
            {% for individuelclient in individuel %}
                    <tr>
                        <td> {{ individuelclient.codeclient }}</td>
                        <td>{{ individuelclient.nomClient }}</td>
                        <td>{{ individuelclient.prenomClient }}</td>
                        <td>{{ individuelclient.cin }}</td>
                        <td>{{ individuelclient.dateInscription ? individuelclient.dateInscription|date('Y-m-d') : '' }}</td>           
                    </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">Pas de resultats</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
