{% extends "base.html.twig" %}

{% block title %}Par annuité constante {% endblock %}
{% block head %} Par annuité constante {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-4 col-xl-4 col-sm-4">
            <p> Montant de credit : {{ montant }}</p>
            <p> Annuité : {{ annuite }}</p>
        </div>
        <div class="col-4 col-xl-4 col-sm-4">
            <p>Periode : {{ periode }} ans</p>
        </div>
        <div class="col-4 col-xl-4 col-sm-4">
            <p>taux  : {{ tauxInteret }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-xl-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Periode (N) </th>
                        <th>Capital restant Du (K)</th>
                        <th>Interet (I)</th>
                        <th>Amortissemnent (r)</th>
                        <th>Annuité (a) </th>
                    </tr>
                </thead>
                <tbody>
                    {% for amortissement in tableau_amortissement %}
                        <tr>
                            <td> {{ amortissement.periode }} </td>
                            <td> {{ amortissement.capitalRestantDu }} </td>
                            <td> {{ amortissement.interet }} </td>
                            <td> {{ amortissement.remboursement }} </td>
                            <td> {{ amortissement.annuite }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="2">Total</th>
                        <td> {{ totalInteret }} </td>
                        <td> {{ totalMontant }} </td>
                        <td> 0 </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}