{% extends 'base.html.twig' %}

{% block title %}Tableau d'amortissement simple {% endblock %}
{% block head %}par amortissement simple {% endblock %}

{% block body %}
    {{ include('modal.html.twig') }}
    <div class="card p-3">
        {% for data in info %}
            <div class="row">
                <div class="col-4 col-sm-4 col-sm-4">
                    <p>Montant credit : {{ data.Montant }}  </p>
                    <p> Code credit : {{ data.NumeroCredit }} </p>
                </div>
                <div class="col-4 col-sm-4 col-sm-4">
                    Taux annuelle : {{ data.TauxInteretAnnuel }}
                </div>
                <div class="col-4 col-sm-4 col-sm-4">
                    Nombre tranche : {{ data.NombreTranche }}
                </div>
            </div>
        {% endfor %}
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Periode(N)</th>
                        <th>Date de remboursement</th>
                        <th>Principale </th>
                        <th>Interet </th>
                        <th>Total </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for tab in amortissement %}
                        <tr>
                            <td> {{ tab.periode}} </td>
                            <td>{{ tab.dateRemborsement|date("d/m/Y")}}</td>
                            <td>{{ tab.principale }}</td>
                            <td>{{ tab.interet }}</td>
                            <td>{{ tab.montanttTotal }}</td>
                            <td> <a href="{{ path('app_amortissement_fixe_edit',{'id': tab.id}) }}" class="btn btn-sm btn-info"> <i class="fa fa-edit"></i> </a></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="2">Total </th>
                        <th> {{ totalMontant }} </th>
                        <th> {{ totalInteret }} </th>
                        <th> {{ totalNet}} </th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-foot">
            {{ form_start(form)}}
                {{ form_widget(form) }}
            {{ form_end(form)}}
        </div>
    </div>

{# 

    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Periode(N)</th>
                    <th>Date de remboursement</th>
                    <th>Principale </th>
                    <th>Interet </th>
                    <th>Total </th>
                </tr>
            </thead>
            <tbody>
                {% for tab in amortissement %}
                    <tr>
                        <td> {{ tab.periode + 1 }} </td>
                        <td>{{ tab.dateRemb|date("d/m/Y")}}</td>
                        <td>{{ tab.CapitalDu }}</td>
                        <td>{{ tab.interet }}</td>
                        <td>{{ tab.montantPayer }}</td>
                    </tr>
                {% endfor %}
               {# <!-- {% endfor %} -->#}
           
       {# <!-- <div class="row">
            <div class="col-6 col-xl-6 col-sm-6"> 
               <p> Montant Total :</p>
               <p> Interet total : </p>
               <p>Nombre tranche :</p>
            </div>
            <div class="col-6 col-xl-6 col-sm-6">
                 <p>{{ montant}}</p>
                 <p> {{ interet }} </p>
                 <p>{{  tranche }}</p>
            </div>
        </div> -->#}
{% endblock %}
