    {% extends 'base.html.twig' %}

{% block title %}Passe en perte{% endblock %}
{% block head %}Passe en perte{% endblock %}

{% block body %}

    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
        
                    <!-- Modal Header -->
                <div class="modal-header titre_modal">
                    <h4 class="modal-title text-center">Passe en perte </h4>
                </div>
                {{ form_start(form) }} 
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 col-sm-12">
                                {{ form_row(form.NumeroCredit) }}
                            </div>
                            <div style="display:none;">{{ form_row(form.CodeCredit) }}</div>
                            <div style="display:none;">{{ form_row(form.CodeClient) }}</div>
                            <div style="display:none;">{{ form_row(form.NomClient) }}</div>
                            <div style="display:none;">{{ form_row(form.PrenomClient) }}</div>
                        </div>

                    </div>
            
                   <!-- Modal footer -->
                    <div class="modal-footer mb-0">
                        <input type="submit" value="valider" class="btn btn-primary">
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div> 

    {% endblock %}

