{% extends "base.html.twig" %}

{% block title %}
    Ouvrir une compte epargne Client
{% endblock %}

{% block head %}
    
{% endblock %}

{% block body %}
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
        
                    <!-- Modal Header -->
                <div class="modal-header titre_modal">
                    <h4 class="modal-title text-center">Info client </h4>
                </div>
                {{ form_start(form) }} 
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-4 col-sm-4">
                                {{ form_row(form.code)}}
                                <div id="groupe_suggest"></div>

                                <div style="display: hide;">
                                    {{ form_row(form.code_groupe)}}
                                    {{ form_row(form.nom)}}
                                    {{ form_row(form.email)}}
                                </div>
                            </div>
                            <div class="col-auto col-sm-auto mt-3 ms-5" >
                                <p class="fw-bold"> Code groupe : <span id="code_groupe"></span> </p>
                                <p class="fw-bold"> Nom groupe : <span id="nom_groupe"></span> </p>
                            </div>
                            
                        </div>

                    </div>
            
                    <!-- Modal footer -->
                    <div class="modal-footer mb-0">
                             {{ form_row(form.submit)}}
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div> 
{% endblock %}