{% extends "base.html.twig" %}

{% block title %}
    Ouvrir un compte epargne groupe
{% endblock %}

{% block head %}
    Ouvrir un compte epargne groupe
{% endblock %}

{% block body %}

    <div class="rounded g-0 m-5 p-4 shadow-sm">
        {{ form_start(form) }}
            <div class="row">
                <div class="col-4 col-sm-4">
                    {{ form_row(form.code)}}
                    <div id="code_suggest"></div>

                    <div id="info_groupe">
                        {{ form_row(form.nomgroupe)}}
                        {{ form_row(form.email)}}
                    </div>
                </div>
                <div class="col-auto col-sm-auto mt-3 ms-5" >
                    <p class="fw-bold"> Code groupe : <span id="code_grp"></span> </p>
                    <p class="fw-bold"> Nom groupe : <span id="nom_grp"></span> </p>
                    <p class="fw-bold"> Adresse email du groupe: <span id="email_grp"></span> </p>
                </div>
            </div>
            <div class="row">
                {{ form_row(form.submit)}}
            </div>
        {{ form_end(form)}}
    </div>
{% endblock %}