{% extends "base.html.twig" %}

{% block title %}
    Remboursement 
{% endblock %}

{% block head %}
    Remboursement 
{% endblock %}

{% block body %}

    {# /***************Messages succes ******************/#}
    
         {% for message in app.flashes('success') %}
                {{ message }}
        {% endfor %}
    {# *************************************#}

    <div class="row">
    <div class="col-xl-3 col-md-3 col-sm-3">
        <p> <b>Code Credit : </b><span id="codecreditremboursement">{{ codecredit }}</span></p>
        <p> <b>montant du: </b><span id="montant">{{ montantdu }}</span></p>
        <div style="display:none"><p> <b>penalite : </b><span id="penalite">{{ penalite }}</span></p>
        <p> <b>reste  : </b><span id="reste">{{ restemontant }}</span></p>
        <p> <b>Total periode  : </b><span id="total periode">{{ totalperiode }}</span></p>
        <p> <b>periode precedent  : </b><span id="periodeprecedent">{{ periode }}</span></p>
        <p> <b>periode  : </b><span id="periode"></span></p></div>
        <p> <b>Total credit  : </b><span id="crd">{{ crd }}</span></p>
        <p> <b>Credit deja rembourser  : </b><span id="crd">{{ TotalRembourser }}</span></p>
        <p> <b>Credit pas encore rembourser  : </b><span id="crd">
        {% if TotalaRembourser != null %}
        {{ TotalaRembourser }}
        {% else %}
        {{ crd }}

        {% endif %}
        </span></p>
        
    </div>
    {# <div class="col-xl-3 col-md-3 col-sm-3">
        <p><b>Code client :</b> <span id="code_client"> {{ codegroupe }}</span></p>
    </div> #}
    <div class="col-xl-3 col-md-3 col-sm-3">
        {# <p><b> Nom Client :</b> <span id="nom"> {{ nom }}</span></p> #}
    </div>
</div>

    {{ include('remboursement_credit/_form.html.twig') }}

{% endblock %}
