{% extends "base.html.twig" %}

{% block title %}
    Liste de niveau d'etude
{% endblock %}

{% block head %}
    Liste de niveau d'etude
{% endblock %}

{% block body %}
    <h1>Etude</h1>

      {# /***************Messages succes ******************/#}
      {% for message in app.flashes('success') %}
        <strong>{{ message }}</strong>
      {% endfor %}

    <table class="table table-bordered">
        <thead class="alert alert-success">
            <tr>
                <th>Niveau</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody class="jumbotron jumbotron-fluid">
        {% for etude in etudes %}
            <tr>
                <td>{{ etude.niveau }}</td>
                <td>
                    <div class="row">
                        <div class="col-sm-2">
                            <a href="{{ path('app_etude_show', {'id': etude.id}) }}" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i></a>
                        </div>
                        <div class="col-sm-2">
                            <a href="{{ path('app_etude_edit', {'id': etude.id}) }}" class="btn btn-info btn-sm"><i class="fa fa-eye"></i></a>
                        </div>
                        <div class="col-sm-8">
                            {{ include('references/etude/_delete_form.html.twig') }}
                        </div>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="{{ path('app_etude_new') }}" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Ajouter nouveau</a>
    </div>

{% endblock %}