{% extends "base.html.twig" %}

    {% block title %}
        {% if affiche_table  == false %}
            Rapport client par Identité
        {% else %}
            Liste des client par Identité {% if date_1 == true %} jusq'au {{ one_date| date('d-m-Y') }} {% else %} du {{ du| date('d-m-Y') }} au {{ au| date('d-m-Y')  }}{% endif %}  
        {% endif %}
    {% endblock %}

    {% block head %}
        {% if affiche_table  == false %}
            Rapport client par Identité
        {% else %}
            Liste client par Identité {% if date_1 == true %} jusq'au {{ one_date| date('d-m-Y') }} {% else %} du {{ du| date('d-m-Y') }} au {{ au| date('d-m-Y')  }}{% endif %}  
        {% endif %}
    {% endblock %}

{% block body %}
    {% if affiche_table == false %}


        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
            
                        <!-- Modal Header -->
                    <div class="modal-header titre_modal">
                        <h4 class="modal-title text-center">Document Identité </h4>
                    </div>
                    {{ form_start(trierDocs) }} 
                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="text-center" id="one_date">
                                <h4 class="text-center"> Date </h4>
                                {{ form_row(trierDocs.one_date_search) }}
                            </div>

                            <div class="row text-center" id="two_date">
                                    <h4 class="text-center">Entre deux période </h4>
                                    <div class="col-sm-6">
                                        {{ form_row(trierDocs.Date1) }}
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form_row(trierDocs.Date2) }}
                                    </div>
                            </div>

                        </div>
                
                        <!-- Modal footer -->
                        <div class="modal-footer mb-0">
                             {{ form_row(trierDocs.chercher ) }}
                        </div>
                    {{ form_end(trierDocs) }}
                </div>
            </div>
        </div> 
    {% else %}
        <table class="table1 table">
            <thead>
                <tr>
                    <th>Numero CIN</th>
                    <th>Nom et Prenom</th>
                    <th>Date de naissance</th>
                    <th>Lieu de naissance</th>
                    <th>Date de livrance</th>
                    <th>Date expiration</th>
                    <th>Delivré à</th>
                </tr>
            </thead>
                {% for Individuelclient in documents %}
            <tbody class="jumbotron jumbotron-fluid" style="color:black;">
                    <tr>
                        <td class="fw-bold">{{ Individuelclient.getCin()|number_format(0,',', ' ') }}</td>
                        <td>{{ Individuelclient.getNomclient() }} {{ Individuelclient.getPrenomclient() }} </td>
                        <td>{{ Individuelclient.getDatenaissance()| date('d/m/Y') }}</td>
                        <td>{{ Individuelclient.getLieunaissance() }}</td>
                        <td>{{ Individuelclient.getDatecin()| date('d/m/Y') }}</td>
                        <td>{{ Individuelclient.getDateexpiration()| date('d/m/Y') }}</td>
                        <td>{{ Individuelclient.lieudelivrance }}</td>
                    </tr>
                    {% else %}
                    <tr>
                    <td colspan="8" class="text-center">Pas de resultats</td>
                    </tr>
            </tbody>
                {% endfor %}
        </table>
    {% endif %}
{% endblock %}