{{ form_start(form) }}
  <ul class="nav nav-tabs">
      <li class="nav-item"> <a class="nav-link active" data-bs-toggle="tab" href="#etape1">Etape 1</a></li>
      <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#etape2" id="epargne">Etape 2</a></li>
      <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#etape3">Etape 3</a></li>
      <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#etape4">Etape 4</a></li>
      <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#etape5">Etape 5</a></li>
  </ul>

    <div class="tab-content">

        {# Etape 1 #}

        <div class="tab-pane active" id="etape1">
        <div class="row shadow-sm p-3">
            <div class="col-12 col-sm-12 col-md-12">
              <h6 class="text-center text-primary">Etape 1</h6>
              <div class="row">
                  <div class="col-6 col-sm-6 col-md-6">
                      {{ form_row(form.ProduitCredit) }}
                      {{ form_row(form.codeclient) }}
                      {{ form_row(form.TypeClient) }}
                      {{ form_row(form.NumeroCredit) }}
                      {{ form_row(form.DateDemande) }}
                      {{ form_row(form.Montant) }}
                      {{ form_row(form.TauxInteretAnnuel) }}
                  </div>
                  <div class="col-6 col-sm-6 col-md-6">
                      {{ form_row(form.NombreTranche) }}
                      {{ form_row(form.TypeTranche) }}
                      {{ form_row(form.MethodeCalculInteret) }}
                      {{ form_row(form.DiffereDePaiement) }}
                      {{ form_row(form.CapitalDerniereEcheance) }}
                      {{ form_row(form.FondCredit) }}
                  </div>

              </div>
            </div>
        </div>
      </div>

        {# Etape 2 #}
          <div class="tab-pane" id="etape2">
        <div class="row shadow-sm p-3">
            <div class="col-12 col-sm-12 col-md-12">
                <h6 class="text-center text-primary">Etape 3</h6>
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6">
                      {# {{ form_row(form.MontantEpargneTranche) }}
                      {{ form_row(form.MontantFixe) }} #}
                      {{ form_row(form.SoldeEpargne) }}
                    </div>
                    {# <div class="col-6 col-sm-6">
                      {{ form_row(form.ButCredit) }}
                    </div> #}
                </div>
            </div>
        </div>
      </div>
        {# Etape 3 #}

            <div class="tab-pane" id="etape3">
        <div class="row shadow-sm p-3">
            <div class="col-12 col-sm-12 col-md-12">
                <h6 class="text-center text-primary">Etape 3</h6>
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6">
                      {{ form_row(form.Categorie1Credit) }}
                      {{ form_row(form.Categorie2Credit) }}
                      {{ form_row(form.Categorie3Credit) }}
                    </div>
                    <div class="col-6 col-sm-6">
                      {{ form_row(form.Categorie4Credit) }}
                    </div>
                </div>
            </div>
        </div>
      </div>

      {# etape4 #}
            <div class="tab-pane" id="etape4">
        <div class="row shadow-sm p-3">
            <div class="col-12 col-sm-12 col-md-12">
              <h6 class="text-center text-primary">Etape 4</h6>
              <div class="row">
                  <div class="col-6 col-sm-6 col-md-6">
                      {{ form_row(form.InteretDifferePaiementCapitalise) }}
                      {{ form_row(form.InteretPayeMemePourDiffere) }}
                      {{ form_row(form.TrancheDistinctInteretPeriodeDiffere) }}
                      {{ form_row(form.PaiementPrealableInteret) }}
                      {{ form_row(form.InteretDeduitDecaissement) }}
                      {{ form_row(form.CalculInteretJours) }}
                  </div>
                  <div class="col-6 col-sm-6 col-md-6">
                      {{ form_row(form.CalculInteretDiffere) }}
                      {{ form_row(form.ForfaitPaiementPrealableInteret) }}
                      {{ form_row(form.CreditLieUSD) }}
                      {{ form_row(form.MettreJourCalendrierNonOuvrable) }}
                      {{ form_row(form.ReporterPremierTranche) }}
                      {{ form_row(form.CommissionPourcentageMontantCredit) }}
                  </div>

              </div>
            </div>
        </div>
      </div>

    {# Etape 5 #}
          <div class="tab-pane" id="etape5">
        <div class="row shadow-sm p-3">
            <div class="col-12">
              <h6 class="text-center text-primary" >Etape 5</h6>
              <div class="row">
                    <div class="col-6 col-sm-6">
                      {{ form_row(form.PourcentageCapitalEnCoursInteretCommission) }}
                      {{ form_row(form.MontantFixeParTranche) }}
                      <div id="commune_suggest"></div>
                    </div>
                    <div class="col-6 col-sm-6">
                      {{ form_row(form.ProduitEpargne) }}
              </div>
              </div>
            </div>
        </div>
      </div>

    </div>
    <button class="btn btn-primary mt-4"><i class="fa fa-plus"></i> {{ button_label|default('Sauvegarder') }}</button> 
{{ form_end(form) }}
