{{ form_start(form) }}
  <ul class="nav nav-tabs">
      <li class="nav-item"> <a class="nav-link active" data-bs-toggle="tab" href="#etape1">Etape 1</a></li>
      <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#etape2">Etape 2</a></li>
      <li class="nav-item"id="garantiecredit"> <a class="nav-link" data-bs-toggle="tab" href="#etape3" >Etape 3</a></li>
  </ul>

    <div class="tab-content">
        {# Etape 1 #}
        <div class="tab-pane active" id="etape1">
        <div class="row shadow-sm p-3">
            <div class="col-12 col-sm-12 col-md-12">
              <h6 class="text-center text-primary">Etape 1</h6>
              <div class="row">
                  <div class="col-6 col-sm-6 col-md-6">
                      {{ form_row(form.ProduitCredit) }}
                      {{ form_row(form.TypeClient) }}
                      {{ form_row(form.codeclient) }}
                      <div style="display:none;">
                        {{ form_row(form.NumeroCredit) }}
                        {{ form_row(form.cycles) }}
                      </div>
                      {{ form_row(form.DateDemande) }}
                      {{ form_row(form.Montant) }}
                      {{ form_row(form.TauxInteretAnnuel) }}
                  </div>
                  <div class="col-6 col-sm-6 col-md-6">
                      {{ form_row(form.NombreTranche) }}
                      {{ form_row(form.TypeTranche) }}
                      {{ form_row(form.MethodeCalculInteret) }}
                      {{ form_row(form.DiffereDePaiement) }}
                      {{ form_row(form.CapitalDerniereEcheance) }}
                      {{ form_row(form.FondCredit) }}
                  </div>

              </div>
            </div>
        </div>
      </div>

      {# etape4 #}
            <div class="tab-pane" id="etape2">
        <div class="row shadow-sm p-3">
            <div class="col-12 col-sm-12 col-md-12">
              <h6 class="text-center text-primary">Etape 2</h6>
              <div class="row">
                  <div class="col-6 col-sm-6 col-md-6">
                    <div id="soldeepargneform">  
                      {{ form_row(form.SoldeEpargne) }}
                    </div>  
                      {{ form_row(form.categorieCredit) }}
                      {{ form_row(form.typeAmortissement) }}
                  </div>
                   <div class="col-6 col-sm-6 col-md-6">
                      {{ form_row(form.CalculInteretJours) }}
                      {{ form_row(form.CalculInteretDiffere) }}
                      {{ form_row(form.agent) }}
                  </div>

              </div>
            </div>
        </div>
      </div>

              {# Etape 3 #}

            <div class="tab-pane" id="etape3">
        <div class="row shadow-sm p-3">
            <div class="col-12 col-sm-12 col-md-12">
                <h6 class="text-center text-primary">Etape 3</h6>
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6">
                      {{ form_row(form.garant) }}
                    </div>
                    <div class="col-6 col-sm-6">
                      {{ form_row(form.garantie) }}
                      {{ form_row(form.Valeur) }}
                      {{ form_row(form.Type) }}
                      {{ form_row(form.ValeurUnitaure) }}
                      {{ form_row(form.Unite) }}
                      {{ form_row(form.ValeurTotal) }}
                    </div>
                 </div>
                             </div>
        </div>
      </div>
    </div>
    <button class="btn btn-sm btn-primary mt-4"><i class="fa fa-plus"></i> {{ button_label|default('Suivant') }}</button> 
{{ form_end(form) }}
