{% extends 'base.html.twig' %}

{% block title %}Demande de credit{% endblock %}
{% block head %}Demande de credit{% endblock %}

{# {% block head %}
{% endblock %} #}

{% block body %}
     {% for message in app.flashes('success') %}
        <p class="alert alert-info text-center" role="alert"> {{ message }}</p>
    {% endfor %}
    <div style="display:none;">
        solde :<p id="soldeepargne" ></p>
        Montant :<p id="montant"></p>
        montantgarantie :<p id="garantie"></p>
    </div>

    <div style="display:none">
        TestLieEpargne : <p id="lieepargne"></p>
    </div>
    {# Ici on recupere l'agent de credit #}
    
        Agent de credit : <p id="prenom"> {{ app.user.prenom }}</p>
    
    {# Ici on recupere le code agence #}
    
        <p style="display:none">Code agence</p><p id="codeagence"  style="display:none">{{ app.user.codeagence }}</p>

    {# Ici on recupere le dernier id dans le numero credit #}
    
        <p  style="display:none">Dernier numero</p><p id="lastnumero"  style="display:none"> {{ numeros }}</p>
    {{ include('demande_credit/_form.html.twig') }}

{% endblock %}
