{% extends "base.html.twig" %}

{% block title %}
    Remboursement
{% endblock %}

{% block head %}
    
{% endblock %}

{% block body %}
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
        
                    <!-- Modal Header -->
                <div class="modal-header titre_modal">
                    <h4 class="modal-title text-center">Remboursement </h4>
                </div>
                {{ form_start(form) }} 
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-4 col-sm-4">

                                <div id="info_client">
                                    {{ form_row(form.typeclient)}}
                                    {{ form_row(form.codecredit)}}
                                    {{ form_row(form.Mode)}}
                                    <div style="display:none;">
                                        {{ form_row(form.numerocredit) }}
                                        {{ form_row(form.penaliteprecedent)}}
                                        {{ form_row(form.montantprecedent)}}
                                        {{ form_row(form.montantdu)}}
                                        {{ form_row(form.periode)}}
                                        {{ form_row(form.restemontant)}}
                                        {{ form_row(form.crd)}}
                                        {{ form_row(form.TotalRembourser)}}
                                        {{ form_row(form.TotalaRembourser)}}
                                        {{ form_row(form.TotalPeriode)}}
                                        {{ form_row(form.capital)}}
                                        {{ form_row(form.interet)}}
                                    </div>

                                </div>
                            </div>

                             <div class="col-4 col-sm-4">

                                <div id="info_client">
                                   <b>Nom:<span id="nom"></span></b>
                                   <hr>
                                   {# <b>Prenom:<span id=""></span></b> #}
                                </div>
                            </div>
                            
                        </div>

                    </div>
            
                    <!-- Modal footer -->
                    <div class="modal-footer mb-0">
                        <input type="submit" value="valider" class="btn btn-primary">
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div> 
{% endblock %}