{% extends "base.html.twig" %}

{% block title %}
    {% if showTable == false %}
        Rapport compte epargne
    {% else %}
        Rapport compte epargne  {% if date_1 == true %} jusq'a {{ one_date| date('d-m-Y') }} {% else %} du {{ du| date('d-m-Y') }} au {{ au| date('d-m-Y')  }}{% endif %}
    {% endif %}
{% endblock %}


{% block head %}
    {% if showTable == false %}
    
    {% else %}
        Rapport compte epargne  {% if date_1 == true %} jusq'a {{ one_date| date('d-m-Y') }} {% else %} du {{ du| date('d-m-Y') }} au {{ au| date('d-m-Y')  }}{% endif %}
    {% endif %}
{% endblock %}

{% block body %}
    {% if showTable == false %}
               <!-- The Modal -->
        
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
        
                    <!-- Modal Header -->
                    <div class="modal-header titre_modal">
                    <h4 class="modal-title text-center"> Rapport compte epargne  </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    {{ form_start(form) }} 
                    <!-- Modal body -->
                     <div class="modal-body">    
                        <div class="text-center ps-5 pe-5" id="one_date">
                            <h4 class="text-center"> Date </h4>
                           {{ form_row(form.datearrete) }}
                        </div>

                        <div class="row text-center" id="two_date">
                            <h4 class="text-center">Entre deux périodes </h4>
                            <div class="col-6 col-sm-6">
                                {{ form_row(form.datedebut) }}
                                    
                            </div>
                            <div class="col-6 col-sm-6">
                                {{ form_row(form.datefin) }}
                            </div>
                        </div>
                    </div>
                
                    <!-- Modal footer -->
                    <div class="modal-footer mb-0">
                        {{ form_row(form.Filtre) }}       
                     </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    {% else %} 
        <table class="table1 table table-bordered" style="margin-top:25px;">
            <thead>
                <tr>
                    <th>Date d'ouverture</th>
                    <th>Compte Epargne</th>
                    <th>Nom</th>
                    <th>Nom Produit</th>
                </tr>
            </thead>
            <tbody class="jumbotron jumbotron-fluid" style="color:black;">
            {% for CompteEpargne in rapportcompteep %}
                <tr>
                    <td>{{ CompteEpargne.datedebut | date('Y-m-d') }}</td>
                    <td>{{ CompteEpargne.codeepargne }}</td>
                    {% if CompteEpargne.typeClient == 'INDIVIDUEL' %}
                        <td>{{ CompteEpargne.nom_client }} {{ CompteEpargne.prenom_client }}</td>
                    {% else %}
                        <td>{{ CompteEpargne.nomGroupe }}</td>
                    {%  endif %}
                    <td> {{ CompteEpargne.nomproduit }}</td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}