{% extends "base.html.twig" %}

{% block title %}
    {% if showTable == false %}
        Rapport solde
    {% else %}
        Rapport solde   jusq'a {{ one_date| date('d-m-Y') }} 
    {% endif %}
{% endblock %}

{% block head %}
    {% if showTable == false %}

    {% else %}
        Rapport solde jusq'a {{ one_date| date('d-m-Y') }}
    {% endif %}
{% endblock %}

{% block body %}

        {% if showTable == false %}
              <!-- The Modal -->
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
        
                    <!-- Modal Header -->
                    <div class="modal-header titre_modal">
                    <h5 class="modal-title text-center"> Rapport solde compte epargne  </h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    {{ form_start(form1) }} 
                    <!-- Modal body -->
                     <div class="modal-body">    
                        <div class="text-center ps-5 pe-5" id="one_date">
                            <h4 class="text-center"> Date </h4>
                            {{ form_row(form1.date1) }}
                        </div>
                    </div>
                
                    <!-- Modal footer -->
                    <div class="modal-footer mb-0">
                       <button type="submit" class="btn btn-primary"> Filtrer </button>      
                     </div>
                    {{ form_end(form1) }}
                </div>
            </div>
        </div>

        {% else %}
            <table class="table1 table table-bordered" style="margin-top:25px;">
                <thead>
                    <tr>
                        <th>Compte Epargne</th>
                        <th>Nom Produit</th>
                        <th>Nom et prenom du client </th>
                        <th>Type client </th>
                        <th>Solde</th>
                    </tr>
                </thead>
                <tbody class="jumbotron jumbotron-fluid" style="color:black;">
                {% for CompteEpargne in compte_epargnes %}
                    <tr>
                        <td>{{ CompteEpargne.codeepargne }}</td>
                        <td> {{ CompteEpargne.nomproduit }}</td>
                        {% if CompteEpargne.typeClient == 'INDIVIDUEL' %}
                            <td>{{ CompteEpargne.nomclient }} {{ CompteEpargne.prenomclient }}</td>
                        {% else %}
                            <td>{{ CompteEpargne.nomGroupe }}</td>
                        {% endif %}
                        <td> {{ CompteEpargne.typeClient }}</td>
                        <td>{% if CompteEpargne.soldes %} {{ CompteEpargne.soldes|number_format(0,',', ' ') }}  {% else %} 0  {% endif %} Ar </td>
                    </tr>
                {%  endfor %}
                </tbody>
            </table>
    {% endif %}
{% endblock %}