{% extends "base.html.twig" %}

{% block title %}
    Relevé transaction 
{% endblock %}

{% block head %}
    Compte epargne > Relevé transaction 
{% endblock %}


{% block body %}
    {% if showTable == false %}
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                    <div class="modal-content">
            
                        <!-- Modal Header -->
                        <div class="modal-header titre_modal">
                        <h5 class="modal-title text-center">Relevé Compte epargne</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        {{ form_start(form) }} 
                            <!-- Modal body -->
                            <div class="modal-body">
                                <h5>A propos :</h5>
                                <div class="row">
                                    <div class="col-sm-6">
                                        {{ form_row((form.Codeclient)) }}
                                    </div>

                                        <div class="col-sm-6 mt-3">
                                            <p class="fw-bolder">Code  : <span id="codeclient"></span></p>
                                            <p class="fw-bolder">Nom  : <span id="nom"></span></p>
                                        </div>
                                    
                                </div>

                                <h5>Releve du :</h5>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            {{ form_row(form.Du) }}
                                        </div>
                                        <div class="col-sm-4">
                                            {{ form_row(form.Au) }}
                                        </div>
                                    </div>
                            </div>
                    
                            <!-- Modal footer -->
                            <div class="modal-footer mb-0">
                                {{ form_row(form.Filtre) }}
                            </div>
                        {{ form_end(form) }}
                    </div>
            </div>
        </div>
    {% else %}
               
        <table class="table1 table table-bordered" style="margin-top:25px;">
            <thead>
                <tr>
                    <td colspan="7" style="background-color: #fff; color: #000;">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <div class="d-flex justify-content-start">
                                    <div>
                                        <p> ONG Fidev  </p>
                                            {% if info.typeClient == "GROUPE" %}
                                                <p>Nom du client : <span class="fw-normal">{{ info.nomGroupe }} </span> </p>
                                                <p> Email: <span class="fw-normal"> {{ info.email }}</span>  </p>
                                            {% else %}
                                                <p>Nom du client : <span class="fw-normal">{{ info.nom_client }} </span> </p>
                                                <p>Prenom du client :<span class="fw-normal"> {{ info.prenom_client }} </span></p>
                                            {% endif %}
                                                <p> Code client : <span class="fw-normal">{{ info.codeclient }}</span> </p>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 m-auto">
                                <div class="d-flex justify-content-center"> <h5 class="text-secondary"> Relevé transaction</h5> </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="d-flex justify-content-end ">
                                    <div>
                                        <p> Compte Epargne :  {{ info.codeepargne }} <br/>
                                            Du {{ du| date('d-m-Y') }} </br> 
                                            Au {{ au|date('d/m/Y') }} <br/>
                                            Solde initiale : {{ solde_initial }}
                                        </p> 
                                    </div>
                                </div>
                            </div>
                    </div>

                    </td> 
                </tr>
                <tr class="tr_head">
                    <th>Date Transaction</th>
                    <th>Code transaction</th>
                    <th>Code Epargne</th>
                    <th>Description</th>
                    <th>Piece Comptable</th>
                    <th>Montant</th>
                    <th>Solde</th>
                </tr>
                
            </thead>
            <tbody class="jumbotron jumbotron-fluid" style="color:black;">
            {% for Transaction in releves %}
                <tr>
                    <td>{{ Transaction.DateTransaction ? Transaction.DateTransaction|date('Y-m-d') : '' }}</td>
                    <td>{{ Transaction.codetransaction }}</td>
                    <td>{{ Transaction.codeepargneclient }}</td>
                    <td>{{ Transaction.Description }}</td>
                    <td>{{ Transaction.PieceComptable }}</td>
                    <td>
                        {% if Transaction.Montant < 0 %}
                            <span style="color: red;"> {{ Transaction.Montant|number_format(0,',', ' ') }}</span>
                        {% else %}
                            <span style="color: green;">{{ Transaction.Montant|number_format(0,',', ' ')  }}</span>
                        {% endif %}
                    <td>{{ Transaction.solde|number_format(0,',', ' ')  }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

    {% endif %}

{% endblock %}
