{% extends "base.html.twig" %}

{% block title %}
    Relevé transaction 
{% endblock %}

{% block head %}
    Compte epargne > Relevé transaction 
{% endblock %}


{% block body %}
    {% if showTable == false %}
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                    <div class="modal-content">
            
                        <!-- Modal Header -->
                        <div class="modal-header titre_modal">
                        <h5 class="modal-title text-center">Relevé Compte epargne</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        {{ form_start(form) }} 
                            <!-- Modal body -->
                            <div class="modal-body">
                                <h5>A propos :</h5>
                                <div class="row">
                                    <div class="col-sm-6">
                                        {{ form_row((form.Codeclient)) }}
                                        <div id="code_suggest"></div>
                                    </div>

                                    <div style="display: block">
                                        <div class="col-sm-4">
                                            {{ form_row((form.NomClient)) }}
                                        </div>
                                        <div class="col-sm-4">
                                            {{ form_row((form.PrenomClient)) }}
                                        </div>
                                        <div class="col-sm-4">
                                            {{ form_row((form.code)) }}
                                        </div>
                                    </div>

                                        <div class="col-sm-6">
                                            <p class="fw-bolder">Compte epargne  : <span id="compte_epargne"></span></p>
                                            <p class="fw-bolder">Code  : <span id="codeclient"></span></p>
                                            <p class="fw-bolder">Nom  : <span id="nom"></span></p>
                                            <p class="fw-bolder">Prenom : <span id="prenom"></span></p>
                                        </div>
                                    
                                </div>

                                <h5>Releve du :</h5>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            {{ form_row(form.Du) }}
                                        </div>
                                        <div class="col-sm-4">
                                            {{ form_row(form.Au) }}
                                        </div>
                                    </div>
                            </div>
                    
                            <!-- Modal footer -->
                            <div class="modal-footer mb-0">
                                {{ form_row(form.Filtre) }}
                            </div>
                        {{ form_end(form) }}
                    </div>
            </div>
        </div>
    {% else %}
               
        <table class="table1 table table-bordered" style="margin-top:25px;">
            <thead>
                <tr>
                    <td colspan="7" style="background-color: #fff; color: #000;">
                        <div class="row">
                           <h5 class="ms-2 ">
                             Relevé transaction
                           </h5>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6">
                                <div class="p-2">
                                    Nom du client : {{ nom }}
                                </div>
                                <div class="p-2">
                                    Prenom du client : {{ prenom }}
                                </div>
                                <div class="p-2">
                                    Code client : {{ code_cli }}
                                </div>
                            </div>
                            <div class="col-6 col-sm-6">
                                <div class="p-2">
                                    Compte Epargne :  {{ Codeclient }}
                                </div>
                                <div class="p-2">
                                    Du : {{ du| date('d-m-Y') }} 
                                    Au : {{ au| date('d-m-Y')  }}
                                </div>
                            </div>
                        </div>
                    </td> 
                </tr>
                <tr class="tr_head">
                    <th>Date Transaction</th>
                    <th>Code transaction</th>
                    <th>Code Epargne</th>
                    <th>Description</th>
                    <th>Piece Comptable</th>
                    <th>Montant</th>
                    <th>Solde</th>
                </tr>
                
            </thead>
            <tbody class="jumbotron jumbotron-fluid" style="color:black;">
            {% for Transaction in releves %}
                <tr>
                    <td>{{ Transaction.DateTransaction ? Transaction.DateTransaction|date('Y-m-d') : '' }}</td>
                    <td>{{ Transaction.codetransaction }}</td>
                    <td>{{ Transaction.codeepargneclient }}</td>
                    <td>{{ Transaction.Description }}</td>
                    <td>{{ Transaction.PieceComptable }}</td>
                    <td>{{ Transaction.Montant }}</td>
                      <td>
                            {% if Transaction.Montant < 0 %}
                                <span style="color: red;">{{ Transaction.solde }}</span>
                            {% else %}
                                <span style="color: green;">{{ Transaction.solde }}</span>
                            {% endif %}
                        </td>
                    {# <td>{{ Transaction.solde }}</td> #}
                </tr>
                {% endfor %}

            </tbody>
        </table>

    {% endif %}

{% endblock %}
