<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajout de nouvel groupe</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
     {{ form_start(form) }}
        <div class="modal-body">
            {{ form_row(form.nomGroupe) }}
            {{ form_row(form.dateInscription) }}
            {{ form_row(form.numeroMobile) }}
            {{ form_row(form.email) }}
            <div id="code" style="display: none">
            {{ form_row(form.codegroupe) }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info btn-sm" data-bs-dismiss="modal">Fermer</button>
            <button class="btn btn-primary btn-sm">{{ button_label|default('Enregistrer') }}</button>
            {# <a href="{{ path('app_groupe_index') }}" class="btn btn-info btn-sm" ><i class="fa fa-list"></i>groupes</a> #}
      </div>
    {{ form_end(form) }}
    </div>
  </div>
</div>


