{% extends "base.html.twig" %}

{% block title groupe.nomGroupe %}
{% block head "Client > Groupe"~ groupe.nomGroupe %}

{% block body %}

<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <a href="{{ path('app_groupe_index') }}" class="btn btn-info btn-sm" ><i class="fa fa-list"></i> Voir liste</a>
            <li class="breadcrumb-item active" aria-current="page"></li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-4 col-lg-4">
        <div class="card mb-4"  >
          <div class="card-body">
            <div class="text-center">
              <h5 class="my-3" style="color:black;"><b>{{ groupe.nomGroupe }}</b></h5>
              <p class="text-muted mb-1" style="color:black;"><b>{{ groupe.codegroupe }}</b></p>
            </div>
            <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="" style="color:black;">Date de creation</i>
                <p class="mb-0">{{ groupe.dateInscription | date('d-m-Y') }}</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="" style="color:black;"><b>Numero telephone</b></i>
                <p class="mb-0">{{ groupe.numeroMobile }}</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="" style="color:black;">Email</i>
                <p class="mb-0">@{{ groupe.email }}</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <div class="d-flex justify-content-center mb-2">
                  <img src="{{ qr_code }}" />
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-8 col-lg-8">
        <div class="card mb-4">
          
            <div class="card-body">


                <div class="row">
                  <div class="col-sm-6">
                    <p class="mb-0" style="color:black;">President : </p>
                  </div>
                  <div class="col-sm-6">
                      {% for membre in membreGroupe %}
                        <p class="text-muted mb-0"> {% if membre.TitreGroupe == 'President' %} {{ membre.nom_client }}  {{ membre.prenom_client }}  {% endif%} </p>
                      {% endfor %}
                  </div>
                </div>
                <hr/>

                 <div class="row">
                  <div class="col-sm-6">
                    <p class="mb-0" style="color:black;">Secretaire : </p>
                  </div>
                  <div class="col-sm-6">
                      {% for membre in membreGroupe %}
                        <p class="text-muted mb-0">{% if membre.TitreGroupe == 'Secretaire' %} {{ membre.nom_client }} {{ membre.prenom_client }} {% endif%} </p>
                      {% endfor %}
                  </div>
                </div>
                <hr/>

                 <div class="row">
                  <div class="col-sm-6">
                    <p class="mb-0" style="color:black;">Tresorerie : </p>
                  </div>
                  <div class="col-sm-6">
                        {% for membre in membreGroupe %}
                          <p class="text-muted mb-0">{% if membre.TitreGroupe == 'Tresorerie' %} {{ membre.nom_client }} {{ membre.prenom_client }} {% endif%} </p>
                        {% endfor %}
                  </div>
                </div>
                <hr/>

            </div>
        </div>
      </div>
      <div class="row" style="display: none">
        <div class="card mb-4" style="width: 250px; height: 300px; " id="carte-epargne">
          <div class="card-body text-center">
            <ul class="list-group list-group-flush rounded-3">
              <h6> Information du groupe </h6>
                  <hr/>
                  <div class="fw-bold" id="code_imprimer">{{ groupe.codegroupe }}</div> 
                  <hr/>
                  <div class="fw-bold"> {{ groupe.nomGroupe }}</div> 
                  <hr/>
                  <div class="fw-bold">{{ groupe.numeroMobile }}</div> 
                  <hr/> 
                  <div class="fw-bold">{{ groupe.email }}</div>  
                  <hr/>
                
                  <div class="d-flex justify-content-center mb-2">
                    <img src="{{ qr_code }}" />
                  </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-start mb-2">
        <button class="btn btn-primary btn-sm" id="imprimer-carte">Télécharger le carte client groupe </button>
      </div>

      <div class="row mt-3">
          <div class="col-md-12 col-12">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic text-center">Membre du {{ groupe.nomGroupe }} </span> 
                </p>
                <p class="mb-1" style="font-size: .77rem;"></p>
                  <table class="table">
                    <thead>
                      <th>Code client</th>
                      <th>Nom du membre</th>
                      <th>Prenom du membre</th>
                      <th>Place</th>
                    </thead>
                    <tbody>
                        {% for membre in membreGroupe %}
                          <tr>
                              <td> {{ membre.codeclient }}</td>
                              <td> {{ membre.nom_client }}</td>
                              <td> {{ membre.prenom_client }}</td>
                              <td> {{ membre.TitreGroupe }}</td>
                          </tr>
                      {% else %}
                        <tr colspan="4">
                            <td> Pas de membres</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
