{{ form_start(form) }}
    <div class="row">
        <div class="col-4 col-sm-4">
            <span style="display: none;">{{ form_row(form.montant) }}</span>
            <span style="display: none;"> {{ form_row(form.codecredit) }} </span>
            {{ form_row(form.statusApprobation) }}
        </div>
        <div class="col-4 col-sm-4">
            {{ form_row(form.dateApprobation) }}
        </div>
        <div class="col-4 col-sm-4">
            {{ form_row(form.description) }}
        </div>
    </div>
    <div>
        <button class="btn btn-sm btn-primary m-2">{{ button_label|default('Enregistrer') }} </button>
        <a href="{{ path('app_approbation_credit_index') }}" class="btn btn-sm btn-info"><i class="fa fa-list"></i> liste demande</a>
    </div>
{{ form_end(form) }}
