{% extends 'base.html.twig' %}

{% block title %}Approbation demende credit{% endblock %}
{% block head %}Liste demande credit en attente d'approbation{% endblock %}

{% block body %}
    {{ include('modal.html.twig') }}
    <table class="table table-bordered table2 mt-3">
        <thead>
            <tr>
                <th>Numero credit </th>
                <th>Nom et prenom </th>
                <th>Montant du credit </th>
                <th>Date du demande </th>
                <th>Nombre tranche </th>
                <th>Type de tranche </th>
                <th>Operation </th>
            </tr>
        </thead>
        <tbody>
        {% for demande in demandes %}
            <tr>
                <td class="fw-bold">{{ demande.NumeroCredit }}</td>
                <td>{{ demande.nom_client }} {{ demande.prenom_client }}</td>
                <td>{{ demande.Montant }}</td>
                <td>{{ demande.DateDemande  ? demande.DateDemande |date('Y-m-d') : '' }}</td>
                <td>{{ demande.NombreTranche }}</td>
                <td>{{ demande.TypeTranche }}</td>
                <td>
                    <a href="{{ path('app_approbation_credit_new',{'demande': demande }) }}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Approbation</a>
                </td>
                {# <td>
                    <a href="{{ path('app_approbation_credit_show', {'id': approbation_credit.id}) }}" class="btn btn-sm btn-primary"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('app_approbation_credit_edit', {'id': approbation_credit.id}) }}" class="btn btn-sm btn-info"><i class="fa fa-edit"></i></a>
                </td> #}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
