{% extends 'base.html.twig' %}

{% block title %}ApprobationCredit{% endblock %}

{% block body %}
    <h1>ApprobationCredit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ approbation_credit.id }}</td>
            </tr>
            <tr>
                <th>DateApprobation</th>
                <td>{{ approbation_credit.dateApprobation ? approbation_credit.dateApprobation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ approbation_credit.description }}</td>
            </tr>
            <tr>
                <th>StatusApprobation</th>
                <td>{{ approbation_credit.statusApprobation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_approbation_credit_index') }}">back to list</a>

    <a href="{{ path('app_approbation_credit_edit', {'id': approbation_credit.id}) }}">edit</a>

    {{ include('approbation_credit/_delete_form.html.twig') }}
{% endblock %}
