{% extends 'base.html.twig' %}

{% block title %}Plan Comptable{% endblock %}
<<<<<<< HEAD
{% block head %}Comptabilité>Plan Comptable{% endblock %}
=======
{% block head %}Plan Comptable{% endblock %}
>>>>>>> refs/remotes/origin/main

{% block body %}
 <div class="d-flex justify-content-end me-3"><a href="{{ path('app_plan_comptable_new') }}" class="btn btn-sm btn-primary">Inserer nouveau compte</a></div>
    <table class="table table2 table-bordered mt-3">
        <thead>
            <tr>
                <th>Numero de Compte</th>
                <th>Libelle</th>
                {# <th>classes</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
             <tr>
                <td colspan="4" class="fw-bolder text-center">1 - COMPTES DE CAPITAUX</td>
            </tr>
            {{ include('plan_comptable/_tableau.html.twig', {'compteClase': '1'}) }}
            <tr>
                <td colspan="4" class="fw-bolder text-center"> 2 - COMPTES D'IMMOBILISATIONS..  </td>
            </tr>
            {{ include('plan_comptable/_tableau.html.twig', {'compteClase': '2'}) }}

            <tr>
                <td colspan="4" class="fw-bolder text-center"> 3 - COMPTES DE STOCKS ET EN-COURS.  </td>
            </tr>
            {{ include('plan_comptable/_tableau.html.twig', {'compteClase': '3'}) }}

            <tr>
                <td colspan="4" class="fw-bolder text-center"> 4 - COMPTES DE TIERS.  </td>
            </tr>
            {{ include('plan_comptable/_tableau.html.twig', {'compteClase': '4'}) }}
            
            <tr>
                <td colspan="4" class="fw-bolder text-center"> 5 - COMPTES FINANCIERS  </td>
            </tr>
            {{ include('plan_comptable/_tableau.html.twig', {'compteClase': '5'}) }}

                
            <tr>
                <td colspan="4" class="fw-bolder text-center"> 6 - COMPTES DE CHARGES.  </td>
            </tr>
            {{ include('plan_comptable/_tableau.html.twig', {'compteClase': '6'}) }}
            
            <tr>
                <td colspan="4" class="fw-bolder text-center"> 7 - COMPTES DE PRODUITS  </td>
            </tr>
            {{ include('plan_comptable/_tableau.html.twig', {'compteClase': '7'}) }}

            <tr>
                <td colspan="4" class="fw-bolder text-center"> 8 - COMPTES DE   </td>
            </tr>
            {{ include('plan_comptable/_tableau.html.twig', {'compteClase': '8'}) }}

        <tr>
            <td colspan="4" class="fw-bolder text-center"> 9 - COMPTES DE   </td>
        </tr>
        {{ include('plan_comptable/_tableau.html.twig', {'compteClase': '9'}) }}

        </tbody>
    </table>
{% endblock %}
