{% extends "base.html.twig" %}
{% block title %}
    Modification du Compte epargne du client 
{% endblock %}

{% block head %}
    Modification du Compte epargne du client 
{% endblock %}

{% block body %}

      {# /***************Messages succes ******************/#}
      {% for message in app.flashes('success') %}
            <strong>{{ message }}</strong>
      {% endfor %}
      {{ form_start(form) }}

      <div class="row">
          <div class="col-sm-4" style="display: none;">
              {{ form_row(form.typeAfficher) }}
          </div>
          <div class="col-sm-4 m-auto">
              {{ form_row(form.produit) }}
          </div>
          <div class="col-sm-4 m-auto">
              {{ form_row(form.datedebut) }}
              
          </div>
      </div>
      <div class="row" style="display:none;">
          <div class="col-sm-4">
              {{ form_row(form.codeep) }}
              {{ form_row(form.typeClient) }}
          </div>
          <div class="col-sm-4">
              {{ form_row(form.nom) }}
          </div>
          <div class="col-sm-4">
              {{ form_row(form.prenom) }}
              {{ form_row(form.codeepargne) }}
          </div>
      </div>
      <div class="d-flex justify-content-center">
          <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
      </div>
{{ form_end(form) }}
          
  {# /***********Fin modal *********** #}
{% endblock %}
