{% extends "base.html.twig" %}

{% block title %}
    Compte epargne 
{% endblock %}

{% block head %}
    Compte epargne 
{% endblock %}

{% block body %}

    {% if afficher == false %}
                <h4 class="modal-title text-center"> Compte Epargne </h4>
                {{ form_start(trierEp) }}
                <!-- Modal body -->
                        <div class="row">
                            <div class="col-sm-12">
                                {{ form_row(trierEp.date1) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                {{ form_row(trierEp.Au) }}
                            </div>
                            <div class="col-sm-6">
                                {{ form_row(trierEp.Du) }}
                            </div>
                        </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    {{ form_row(trierEp.Filtre) }}
                    </div>
                {{ form_end(trierEp) }}
                    
            </div>
            </div>
        </div>
    {% else %}
        <table class="table1 table table-bordered" style="margin-top:50px;">
            <caption class="text-center text-primary"> Compte Epargne {% if date_1 == true %} jusq'a {{ one_date| date('d-m-Y') }} {% else %} du {{ du| date('d-m-Y') }} au {{ au| date('d-m-Y')  }}{% endif %} </caption>
            <thead class="alert alert-success">
                <tr>
                    <th>Date d'ouverture </th>
                    <th>Compte Epargne</th>
                    <th>Nom et prenom</th>
                    <th>Produits</th>
                </tr>
            </thead>
            <tbody class="jumbotron jumbotron-fluid" style="color:black;">
            {% for compte_epargne in compteepargne %}
                <tr>
                    <td>{{ compte_epargne.datedebut ? compte_epargne.datedebut|date('Y-m-d') : '' }}</td>
                    <td>{{compte_epargne.codeepargne}}</td>
                    <td>{{compte_epargne.nom }} {{compte_epargne.prenom }}</td>
                    <td>{{compte_epargne.nomprod }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
