{% extends "base.html.twig" %}

{% block title 'Ouvrir un compte du '~ info.nom_client %}
{% block head 'Ouvrir un compte du '~ info.nom_client %}

{% block body %}

    {{ include('modal.html.twig') }}
    <div class="card p-3">
        <div class="card mb-3">
            <div class="row text-secondary m-3">
                <div class="col-xl-4 col-md-4 col-sm-4">
                    <p><b> Nom Client :</b> <span id="nom"> {{ info.nom_client }}</span></p>   
                    <p> <b>Prenom client : </b> <span id="prenom"> {{ info.prenom_client }}</span></p> 
                </div>
                
                <div class="col-md-4 col-sm-4 m-auto">
                    <div class="d-flex justify-content-center"> <h5 class="text-secondary">
                        {% if status == null %}
                            <span style="display: none;" id="compte-type">epargne</span>
                            Ouvrir compte epargne 
                        {% else %}
                            <span style="display: none;" id="compte-type">garantie</span>
                            Depot de garantie 
                        {% endif %}
                    </h5></div>
                </div>
                <div class="col-xl-4 col-md-4 col-sm-4">
                    <p> <b>Code client :</b> <span id="code_client"> {{ info.codeclient }}</span></p> 
                </div>
            </div>              
        </div>
        <div class="fw-bold">
            <hr/>
        </div>
        {{ include('Module_epargne/compte_epargne/_form.html.twig') }}
        <div style="display: none;">
            <p> Text ecrit : <span id="text"> </span> </p>
            <p> Text ecrit : <span id="code_text"> </span> </p>
        </div>
        <div class="fw-bold">
            <hr/>
        </div>
        {% if status == null %}
            <h6 class="text-primary">Compte existant du client {{ info.prenom_client  }} {{ info.prenom_client  }}</h6>
            <table class="table mt-3">
                <thead>
                    <tr>
                        <th>Code Epargne</th>
                        <th>Code client</th>
                        <th>Date d'ouverture </th>
                        <th>Produits</th>
                        <th>Solde</th>
                        <th>Actions </th>
                    </tr>
                </thead>
                {% for compte_epargne in comptedujours %}
                    <tbody class="jumbotron jumbotron-fluid" style="color:black;">
                        <tr>
                            <td class="fw-bold">{{ compte_epargne.codeepargne }}</td>
                            <td>{{ compte_epargne.codeclient }}</td>
                            <td>{{ compte_epargne.datedebut | date('d-m-Y') }}</td>
                            <td>{{ compte_epargne.nomproduit }}</td>
                            <td>
                                {% if compte_epargne.solde != '' %}
                                    {{ compte_epargne.solde }}
                                    {% else %}
                                    0
                                {% endif %}</td>
                            <td>
                            <div class="row">
                                <div class="col-sm-4">
                                    <a href="{{ path('app_compte_epargne_show', {'id': compte_epargne.id}) }}" class="btn btn-primary btn-sm "> <i class="fa fa-eye"></i></a>
                                </div>
                                <div class="col-sm-4">
                                    <a href="{{ path('app_compte_epargne_edit', {'id': compte_epargne.id,'code': code }) }}" class="btn btn-info btn-sm"><i class="fa fa-edit"></i></a>
                                </div>
                                <div class="col-sm-4">
                                    <a href="{{ path('app_compte_epargne_activated', {'id': compte_epargne.id,'code': code }) }}" class="btn btn-warning btn-sm"> {% if compte_epargne.activated %} Desactiver {% else %} Activer {% endif %}</a>
                                </div>
                            </div>
                            </td>
                        </tr>
                {% else %}
                        <tr>
                            <td class="text-center" colspan="5"> Pas de compte </td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        {% endif %}
        
        <div id="modal-container">
            <div id="modal">
                <p id="modal-text"></p>
                <div id="close-btn">&times;</div>
            </div>
        </div>
    </div>

            

{% endblock %}

