{% extends "base.html.twig" %}

{% block title %}
    Compte epargne du groupe {{ nom }} 
{% endblock %}

{% block head %}
    Compte epargne du groupe {{ nom }}
{% endblock %}
{% block body %}
    {{ include('modal.html.twig') }}
    <div class="row">
        <div class="col-4 col-sm-4 col-xl-4 col-md-4">
            <p class="fw-bold"> Nom groupe : <span id="nom_groupe"> {{ nom }}</span></p>      
        </div>
        <div class="col-4 col-sm-4 col-xl-4 col-md-4">
            <p class="fw-bold"> Email groupe :  <span id="email_groupe"> {{ email }}</span></p>
        </div>
        <div class="col-4 col-sm-4 col-xl-4 col-md-4">
            <p class="fw-bold">Code groupe : <span id="code_groupe"> {{ code }}</span></p>
        </div>
    </div>

    <div id="information" style="display: none;">
        <p> Text ecrit : <span id="text"> </span> </p>
        <p> Text ecrit : <span id="code"> </span> </p>
    </div>
    {# <a href="{{ path('app_liste_groupe') }}" class="btn btn-success"> <i class="fa fa-eye"></i> Voir Liste</a> #}

{{ form_start(form) }}
    <div class="row jumbotron jumbotron-fluid">
       <div class="col-4 col-sm-4">
             {{ form_row(form.produit) }}
        </div>
       <div class="col-4 col-sm-4"> 
             {{ form_row(form.datedebut) }}
        </div>
        <div class="col-4 col-sm-4">
            {{ form_row(form.typeClient) }} 
        </div>
    </div> 
    <div id="code_ep_Gr">
            {# {{ form_row(form.codegroupe) }}
            {{ form_row(form.codegroupeepargne) }} #}
            {{ form_row(form.codeep) }}
            {{ form_row(form.codeepargne) }}
    </div> 
    <div class="row">
            {{ form_row(form.Valider) }}
        </div>
{{ form_end(form) }}

    <h6 class="text-primary"> Compte existant du {{ nom }} </h6>
    <table class="table">
        <thead>
            <tr>
                <th>Compte epargne groupe</th>
                <th>Code groupe</th>
                <th>Date d'ouverture </th>
                <th>Produits</th>
                <th>solde</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody class="jumbotron jumbotron-fluid" style="color:black;">
            {% for compte in compte_exist %}
            <tr>
                <td> {{ compte.codegroupeepargne }}</td>
                <td> {{ compte.codegroupe }}</td>
                <td> {{ compte.datedebut|date('Y-m-d') }}</td>
                <td> {{ compte.nomproduit }}</td>
                <td>
                    {% if compte.solde == null %}
                        0
                    {% else %}
                        {{ compte.solde }}
                    {% endif %}
                </td>
                <td> 
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="{{ path('app_compte_epargne_details_groupe', {'id': compte.id}) }}" class="btn btn-primary btn-sm "> <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
{% block javascript %}
    <script src="{{ asset('/api/api_codeepargne_groupe.js') }}"><script>
{% endblock %}
