{% extends "base.html.twig" %}

{% block title %}
  Information sur les compte epargne
{% endblock %}

{% block head %}
  Information sur les compte epargne
{% endblock %}

{% block body %}
{% for client in clients %}
    <section style="background-color: #eee;" style="color:black;">
      <div class="container py-5">
        <div class="row">
          <div class="col">
            <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="#"></a></li>
                <li class="breadcrumb-item"><a href="#"></a></li>
                <li class="breadcrumb-item active" aria-current="page"></li>
              </ol>
            </nav>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="card mb-4">
              <div class="card-body text-center">
                  <img src="{{ asset('uploads/photo/' ~ client.photo  ) }}" alt="avatar"
                  class="rounded-circle img-fluid" style="width: 120px;height:120px;border-radius:100%;"> 
                  
                  <div class="fw-bold" style="color:black;"> {{ client.nom_client }} </div>
                  <div class="fw-bold" style="color:black;"> {{ client.prenom_client }} </div>
                  <div class="fw-bold" style="color:black;">{{ client.code_epargne }}</div>

                {# {% for Agence in agences  %}
                <h5 class="my-3" style="color:black;"><b>I{{ "%02d" | format(Agence.id)}}{{ "%07d" | format(clients.id) }}{{ types.id }}{{ "%02d" | format(produits.id) }}</b></h5>
                {% endfor %} #}
                <p class="text-muted mb-1"></p>
                <p class="text-muted mb-4"></p>
                <div class="d-flex justify-content-center mb-2">
                </div>
              </div>
            </div><br><br><br>
            <div class="card mb-4 mb-lg-0">
              <div class="card-body p-0">
                <ul class="list-group list-group-flush rounded-3">
                  <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                    <i class=""></i>
                    <p class="mb-0"></p>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                    <i class="fw-bold">Nom Produit</i>
                    <p style="color:black;">{{client.nomproduit}}</p>
                  </li>

                  <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                    <i class="fw-bold">Nombre personne en charge </i>
                    <p class="mt-2"> {{ client.charge}} </p>
                  </li>
            
                  <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                    <i class="" style="color: #3b5998;"></i>
                    <p class=""></p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="card mb-4 alert alert-Primary">
              <div class="card-body">
                <div class="row mb-2">

                  <div class="col-sm-3">
                    <p class="mb-0 fw-bold">Code compte epargne </p>
                  </div>
                  <div class="col-sm-9">
                        <p class="text-muted mb-0">{{ client.code_epargne }}</p> 
                  </div>
                </div>
                <div class="row">
                  <hr/>
                  <hr/>
                  <div class="col-sm-3">
                    <p class="mb-0 fw-bold">Carte d'identite National : </p>
                  </div>
                  <div class="col-sm-9">
                        <p class="text-muted mb-0">{{ client.cin }}</p> 
                  </div>
                </div>
                <hr>
                {# <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0" style="color:black;">Adresse</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0"></p>
                  </div>
                </div> #}
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0 fw-bold">Numero Telephone</p>
                  </div>
                  <div class="col-sm-9">
                        <p class="text-muted mb-0">{{ client.telephone }}</p> 
                  </div>
                </div>
                <hr>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0 fw-bold">Profession</p>
                  </div>
                  <div class="col-sm-9">
                          <p class="text-muted mb-0">{{ client.profession }}</p>
                  </div>
                </div>
              </div>
            </div><br><br>
            <div class="row">
              <div class="col-md-6">
                <div class="card mb-4 mb-md-0">
                  <div class="card-body">
                    <p class="mb-4"><span class="text-primary font-italic me-1" style="color:black;">Information Adresse :</span> 
                    </p>
                    <hr/>
                    <p class="mb-1 fw-bold">Commune :</p>
                    <div class="rounded p-2">
                        <p class="mb-1">  {{ client.commune }} </p>
                    </div>
                    <p class="mt-3 fw-bold">Code commune :</p>
                    <div class="rounded p-2">
                        <p class="mb-1">  {{ client.code_commune }} </p>
                    </div>
                    <p class="mt-3 fw-bold">Adresse physique :</p>
                    <div class="rounded p-2">
                        <p class="mb-1">  {{ client.adresse }} </p>
                    </div>
                    

                  </div>
                </div>
              </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endfor %}

{% endblock %}