{% extends "base.html.twig" %}

{% block title %}
  Information sur les compte epargne
{% endblock %}

{% block head %}
  Information sur les compte epargne
{% endblock %}

{% block body %}
{% for Groupes in Groupes %}
    <section style="background-color: #eee;" style="color:black;">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-4">
            <div class="card mb-4">
              <div class="card-body text-center">
                <h6> Information du groupe </h6>
                <hr/>
                <div class="fw-bold">Nom : {{ Groupes.nomGroupe}} </div>
                <hr/>
                <div class="fw-bold"> Date de creation : {{ Groupes.dateInscription|date('Y-m-d') }}</div>
                <hr/>
                <div class="fw-bold">E-mail : {{ Groupes.email }}</div>
                 <a href="{{ path('app_groupe_show',{'id': Groupes.id_groupe}) }}" style="color:#4786a5;text-decoration: none">
                   
                    <hr/>
                    <div class="fw-bold"> Code groupe : {{ Groupes.codegroupe }}</div>
                    <hr/>
                  </a>
                <p class="text-muted mb-1"></p>
                <p class="text-muted mb-4"></p>
                <div class="d-flex justify-content-center mb-2">
                </div>
              </div>
            </div>
            <br><br><br>
          </div>
          <div class="col-lg-8">
            <div class="card mb-4 alert alert-Primary">
              <div class="card-body">
                <div class="row mb-2">

                  <div class="col-sm-4">
                    <p class="mb-0 fw-bold">Code compte epargne </p>
                  </div>
                  <div class="col-sm-8">
                        <p class="text-muted mb-0">{{ Groupes.codeepargne }}</p> 
                  </div>
                </div>
                <div class="row">
                  <hr/>
                  <hr/>

                  <div class="col-sm-4">
                    <p class="mb-0 fw-bold">Produit epargne </p>
                  </div>
                  <div class="col-sm-8">
                        <p class="text-muted mb-0">{{Groupes.nomproduit}} -- {{Groupes.abbreviation}}</p> 
                  </div>
                </div>

                <div class="row">
                  <hr/>
                  <hr/>

                  <div class="col-sm-4">
                    <p class="mb-0 fw-bold">Date de creation du compte </p>
                  </div>
                  <div class="col-sm-8">
                        <p class="text-muted mb-0"> {{Groupes.datecreation|date('Y-m-d')}}</p> 
                  </div>
                </div>

                <div class="row">
                  <hr/>
                  <hr/>
                  <div class="col-sm-4">
                    <p class="mb-0 fw-bold">Solde </p>
                  </div>
                  <div class="col-sm-8">
                        <p class="text-muted mb-0">{% if  Groupes.solde == null %} 0 {% else %} {{ Groupes.solde }} {% endif %} Ariary</p>
                  </div>
                </div>

                <div class="row">
                  <hr/>
                  <hr/>
                </div>
              </div>
            </div><br><br>
          </div>
        </div>
        
        <div class="row d-flex justify-content-center" >
          <div class="card mb-4" style="width: 250px; height: 300px; display:none;" id="carte-epargne">
              <div class="card-body text-center">
                <h6> Information Compte epargne du groupe </h6>
                <hr/>
                <div class="fw-bold">Compte : <span id="code_imprimer">{{ Groupes.codeepargne}}<span></div>
                <hr/>
                <div class="fw-bold"> Produit : {{ Groupes.nomproduit }}</div>
                <hr/>
                  <div class="fw-bold">Nom du groupe : {{ Groupes.nomGroupe }}</div>
                <hr/>
                <div class="fw-bold">E-mail : {{ Groupes.email }}</div>
              </div>
          </div>
        </div>
      <button class="btn btn-primary btn-sm" id="imprimer-carte">Télécharger la carte compte epargne </button>
      </div>
    </section>
{% endfor %}

{% endblock %}

