{% extends "base.html.twig" %}

{% block title %}
  Information sur les compte epargne
{% endblock %}

{% block head %}
  Information sur les compte epargne
{% endblock %}

{% block body %}
{% for client in clients %}
    <section style="background-color: #eee;" style="color:black;">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-4">
            <div class="card mb-4">
              <div class="card-body text-center">
                 <a href="{{ path('app_individuel_show',{'id': client.idcli}) }}" style="color:#4786a5;text-decoration: none">
                    <img src="{{ asset('uploads/photo/' ~ client.photo  ) }}" alt="avatar"
                    class="rounded-circle img-fluid" style="width: 120px;height:120px;border-radius:100%;"> 
                    
                    <div class="fw-bold"> {{ client.nom_client }} </div>
                    <div class="fw-bold"> {{ client.prenom_client }} </div>
                    <div class="fw-bold">{{ client.codeclient }}</div>
                  </a>
                <p class="text-muted mb-1"></p>
                <p class="text-muted mb-4"></p>
                <div class="d-flex justify-content-center mb-2">
                </div>
              </div>
            </div>
            <br><br><br>
          </div>
          <div class="col-lg-8">
            <div class="card mb-4 alert alert-Primary">
              <div class="card-body">
                <div class="row mb-2">

                  <div class="col-sm-4">
                    <p class="mb-0 fw-bold">Code compte epargne </p>
                  </div>
                  <div class="col-sm-8">
                        <p class="text-muted mb-0">{{ client.code_epargne }}</p> 
                  </div>
                </div>
                <div class="row">
                  <hr/>
                  <hr/>

                  <div class="col-sm-4">
                    <p class="mb-0 fw-bold">Produit epargne </p>
                  </div>
                  <div class="col-sm-8">
                        <p class="text-muted mb-0">{{client.nomproduit}} -- {{client.abreviation}}</p> 
                  </div>
                </div>

                <div class="row">
                  <hr/>
                  <hr/>

                  <div class="col-sm-4">
                    <p class="mb-0 fw-bold">Date de creation du compte </p>
                  </div>
                  <div class="col-sm-8">
                        <p class="text-muted mb-0"> {{client.datedebut|date('Y-m-d')}}</p> 
                  </div>
                </div>

                <div class="row">
                  <hr/>
                  <hr/>
                  <div class="col-sm-4">
                    <p class="mb-0 fw-bold">Solde </p>
                  </div>
                  <div class="col-sm-8">
                        <p class="text-muted mb-0">{% if  client.solde == null %} 0 {% else %} {{ client.solde }} {% endif %} Ariary</p>
                  </div>
                </div>

                <div class="row">
                  <hr/>
                  <hr/>
                  <div class="col-sm-4">
                    <p class="mb-0 fw-bold">Profession</p>
                  </div>
                  <div class="col-sm-8">
                        <p class="text-muted mb-0">{{ client.profession }}</p>
                  </div>
                </div>
              </div>
            </div><br><br>
          </div>
        </div>
      </div>
    </section>
{% endfor %}

{% endblock %}