<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Fidev dashboard {% endblock %}</title>
    
        {% block stylesheet %}
            {{ encore_entry_link_tags('app') }}
        {% endblock  %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        
</head>
<body>

    <div class="container-fluid">
            <div class="row flex-nowrap">
                <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 sidebar_body" >
                    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                            <span class="fs-5 d-none d-sm-inline">Menu du Fidev</span>
                        </a>
                        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start text-white" id="menu">

                            <!-- Module client -->
                            <li>
                                <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                    <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline menu"> <i class="fa fa-user"></i> Client  <span class="fa fa-chevron-down"></span> </span>
                                </a>
                                <ul class="collapse nav flex-column ms-2" id="submenu1" data-bs-parent="#menu">
                                    <li class="w-100">
                                        <a href="{{path('app_individuel_new')}}" class="nav-link px-0"> <span class="d-none d-sm-inline lien"> <i class="fa fa-user"></i> Individuel </span></a>
                                    </li>
                                    <li class="w-100">
                                        <a href="{{path('app_groupe_new')}}" class="nav-link px-0"> <span class="d-none d-sm-inline lien"> <i class="fa fa-users"></i> Groupe </span></a>
                                    </li>
                                    <li class="w-100">
                                        <a href="{{path('app_liste_rouge_new')}}" class="nav-link px-0"> <span class="d-none d-sm-inline lien"> <i class="fa fa-list"></i> Liste rouge </span></a>
                                    </li>

                                    <li class="w-100">
                                        <a href="{{path('app_agence_new')}}" class="nav-link px-0"> <span class="d-none d-sm-inline lien"> <i class="fa fa-home"></i> Agences </span></a>
                                    </li>
                                    <li class="nav-item dropdown w-100">
                                        <a class="nav-link rapport dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Rapports 
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-primary dropmenu" aria-labelledby="navbarDarkDropdownMenuLink">
                                            <li><a class="dropdown-item down" href="{{path('app_rapportclient')}}"> <i class="fa-solid fa-user"></i>  Individuel</a></li>
                                            <li><a class="dropdown-item down" href="{{ path('app_rapportgroupe') }}"> <i class="fa-solid fa-users"></i> Groupe </a></li>
                                            <li><a class="dropdown-item down" href="{{ path('app_rapport_membre_groupe_index') }}"> <i class="fa-solid fa-users"></i>  Membre groupe</a></li>
                                            <li><a class="dropdown-item down" href="{{path('app_rapportdocumentidentite')}}"> <i class="fa-solid fa-newspaper"></i> Document d'identite</a></li>
                                        </ul>
                                    </li>    
                                </ul>
                            </li>

                            <!-- Module Epargne -->
                            <li>
                                <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                    <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline menu"> <i class="fa fa-database"></i> Epargne  <span class="fa fa-chevron-down"></span> </span>
                                </a>
                                <ul class="collapse nav flex-column ms-2" id="submenu2" data-bs-parent="#menu">

                                    <li class="w-100">

                                        <li class="w-100 nav-item dropdown">
                                            <a class="nav-link rapport dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fa fa-down-left-and-up-right-to-center"></i>Compte epargne
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-primary dropmenu  dropdown-menu-start" aria-labelledby="navbarDarkDropdownMenuLink">
                                                <li><a href="{{ path('app_ouvrir_compte_epargne') }}" class="dropdown-item down"> <span class="d-none d-sm-inline lien">  <i class="fa fa-user"></i> Individuel </span></a></li>
                                                <li><a class="dropdown-item down" href="{{ path('app_ouvrir_compte_groupe') }}"> <i class="fa-solid fa-users"></i> Groupe </a></li>
                                            </ul>
                                        </li>

                                    </li>
                                    <li class="w-100 nav-item dropdown">
                                            <a class="nav-link rapport dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fa fa-long-arrow-up"></i>Depot 
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-primary dropmenu  dropdown-menu-start" aria-labelledby="navbarDarkDropdownMenuLink">
                                                <li><a href="{{ path('app_compte_epargne_depot') }}" class="dropdown-item down"><i class="fa fa-user"></i> Individuel</span> </a></li>
                                                <li><a class="dropdown-item down" href="{{ path('app_depot_epargne_groupe') }}"><i class="fa-solid fa-users"></i> Groupe </a></li>
                                            </ul>
                                    </li>

                                         <li class="w-100 nav-item dropdown">
                                            <a class="nav-link rapport dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fa fa-long-arrow-down"></i>Retrait 
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-primary dropmenu  dropdown-menu-start" aria-labelledby="navbarDarkDropdownMenuLink">
                                                <li><a href="{{ path('app_retrait_individuel') }}" class="dropdown-item down"><i class="fa fa-user"></i> Individuel</span> </a></li>
                                                <li><a class="dropdown-item down" href="{{ path('app_transaction_retrait_groupe') }}"><i class="fa-solid fa-users"></i> Groupe </a></li>
                                            </ul>
                                    </li>

                                    {# <li class="w-100">
                                        <a href="{{ path('app_transaction_retrait_groupe') }}" class="nav-link px-0"> <span class="d-none d-sm-inline lien"> <i class="fa fa-long-arrow-up"></i> Retrait </span> </a>
                                    </li> #}

                                    
                                    <li class="w-100">
                                        <a href="{{ path('app_transfertep_new') }}" class="nav-link px-0"> <span class="d-none d-sm-inline lien"> <i class="fa fa-exchange"></i> Transfert epargne </span> </a>
                                    </li>

                                    <li class="w-100">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link rapport dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                              Rapports
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-primary dropmenu" aria-labelledby="navbarDarkDropdownMenuLink">
                                              <li><a class="dropdown-item down" href="{{ path('app_rapport_compte') }}" > <i class="fa-solid fa-user"></i> Rapport compte epargne </a></li>
                                              <li><a class="dropdown-item down" href="{{ path('app_transac_liste') }}"> <i class="fa fa-dollar"> </i> Rapport Solde</a></li>
                                              <li><a class="dropdown-item down" href="{{ path('app_transaction_index') }}" > <i class="fa-solid fa-users"></i> Rapport Transaction </a></li>
                                              <li><a class="dropdown-item down" href="{{ path('app_transaction_releve') }}"> <i class="fa-solid fa-newspaper"></i> Relevé </a></li>
                                            </ul>
                                        </li>
                                    </li>

                                </ul>
                            </li>

                            {# Module credit #}

                            <li>
                                <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                    <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline menu"> <i class="fa-solid fa-piggy-bank"></i> Credit <span class="fa fa-chevron-down"></span>  </span></a>
                                <ul class="collapse nav flex-column ms-4" id="submenu3" data-bs-parent="#menu">
                                    <li class="w-100">
                                        <a href="{{path('app_demande_credit_new')}}" class="nav-link px-0"> <span class="d-none d-sm-inline lien"> <i class="fa fa-book"> </i> Demande de credit </span></a>
                                    </li>
                                    <li class="w-100">
                                        <a href="{{path('app_approbation_credit_index')}}" class="nav-link px-0"> <span class="d-none d-sm-inline lien"> <i class="fa fa-ad"> </i> Approbation du demande </span></a>
                                    </li>
                                     <li class="w-100">
                                        <a href="{{path('app_decaissement_credit')}}" class="nav-link px-0"> <span class="d-none d-sm-inline lien"> <i class="fas fa-share"></i> Decaissement </span></a>
                                    </li>
                                    <li class="w-100">
                                        <a href="{{ path('app_remboursement_modal') }}" class="nav-link px-0"> <span class="d-none d-sm-inline lien"> <i class="fas fa-share"></i> Remboursement </span></a>
                                    </li>

                                    <li class="w-100">
                                        <a href="#submenu" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline menu"> 
                                            <i class="fas fa-tasks"></i> Rapports 
                                            <span class="fa fa-chevron-down"></span> </span> 
                                        </a>   
                                        <ul class="collapse show nav flex-column ms-4" id="submenu">

                                            <li class="w-100">
                                                <div class="dropdown pb-4">
                                                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <span class="d-none d-sm-inline mx-1 lien">Approbation</span>
                                                    </a>
                                                    <ul class="dropdown-menu dropdown-menu-primary text-small shadow dropmenu" aria-labelledby="dropdownUser1">
                                                        <li><a class="dropdown-item down" href="{{path('app_rapport_credit_approuver')}}" > <i class="fa fa-check"></i> approuvé </a></li>
                                                        <li>
                                                            <hr class="dropdown-divider">
                                                        </li>
                                                        <li><a class="dropdown-item down" href="{{path('app_rapport_credit_rejeter')}}" > <i class="fa fa-ban"></i> rejeté </a></li>
                                                        
                                                        <li>
                                                            <hr class="dropdown-divider">
                                                        </li>
                                                        <li><a class="dropdown-item down" href="{{path('app_rapport_credit_differer')}}" > <i class="fa fa-times"></i> differée </a></li>
                                                        
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="w-100">
                                                <a href="{{path('app_rapport_demande_credit')}}" class="nav-link px-0"> <span class="d-none d-sm-inline lien"> <i class="fas fa-list"></i> rapport demande </span></a>
                                            </li>
                                            <li class="w-100">
                                                <a href="{{path('app_rapport_credit_decaissement')}}" class="nav-link px-0"> <span class="d-none d-sm-inline lien"> <i class="fas fa-list"></i> rapport décaissement </span></a>
                                            </li>
                                        </ul> 
                                    </li>
                                </ul>
                            </li>

                            <!-- Configuration -->
                            <li>
                                <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                    <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline menu"> <i class="fa fa-toolbox"></i> Configuration  <span class="fa fa-chevron-down"></span> </span>
                                </a>
                                <ul class="collapse nav flex-column ms-2" id="submenu4" data-bs-parent="#menu">
                                    <li class="w-100">
                                        <a href="#submenu10" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline menu"> 
                                            <i class="fa fa-bars"></i> Epargnes 
                                            <span class="fa fa-chevron-down"></span> </span> 
                                        </a>   
                                        <ul class="collapse show nav flex-column ms-4" id="submenu10" data-bs-parent="#menu">
                                                <li class="w-100">
                                                    <a href="{{path('app_type_epargne_new')}}"  class="nav-link px-0"> <span class="d-none d-sm-inline lien"> <i class="fa fa-edit"></i> Type epargne</span></a>
                                                </li>
                                                <li>
                                                    <a href="{{path('app_produit_epargne_new')}}"  class="nav-link px-0"> <span class="d-none d-sm-inline lien"> <i class="fa fa-edit"></i> Produit Epargne </span> </a>
                                                </li>
                                                <li>
                                                    <a href="{{path('app_config_ep_new')}}"  class="nav-link px-0"> <span class="d-none d-sm-inline lien"> <i class="fa fa-edit"></i> Epargne </span></a>
                                                </li>
                                        </ul> 
                                    </li>

                                    <li class="w-100">
                                        <a href="#submenu11" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline menu"> 
                                            <i class="fa fa-coins"></i> Credits 
                                            <span class="fa fa-chevron-down"></span> </span> 
                                        </a>   
                                        <ul class="collapse show nav flex-column ms-4" id="submenu11" data-bs-parent="#menu">
                                            <li>
                                                <a href="{{path('app_credit_individuel_new')}}"  class="nav-link px-0"> <span class="d-none d-sm-inline lien"> <i class="fa fa-edit"></i> Credit Individuel </span></a>
                                            </li>
                                            <li>
                                                <a href="{{path('app_produit_credit_new')}}"  class="nav-link px-0"> <span class="d-none d-sm-inline lien"> <i class="fa fa-edit"></i> Produit Credit </span></a>
                                            </li>
                                            <li>
                                                <a href="{{path('app_configuration_general_credit_new')}}"  class="nav-link px-0"> <span class="d-none d-sm-inline lien"> <i class="fa fa-edit"></i> Configuration general du credit</span></a>
                                            </li>
                                            <li>
                                                <a href="{{path('app_frais_config_credit_new')}}"  class="nav-link px-0"> <span class="d-none d-sm-inline lien"> <i class="fa fa-edit"></i> Frais</span></a>
                                            </li>
                                               <li>
                                                <a href="{{path('app_garantie_credit_new')}}"  class="nav-link px-0"> <span class="d-none d-sm-inline lien"> <i class="fa fa-edit"></i> Garantie</span></a>
                                            </li>
                                            {# compta GL1 #}
                                               <li>
                                                <a href="{{path('app_compte_g_l1_new')}}"  class="nav-link px-0"> <span class="d-none d-sm-inline lien"> <i class="fa fa-edit"></i> Compte GL 1</span></a>
                                            </li>
                                        </ul> 
                                    </li>

                                </ul>
                            </li> 

                            {# Comptabilite #}
                            <li>
                                <a href="#submenu5" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                    <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline menu"> <i class="fa fa-file"></i> Comptabilite  <span class="fa fa-chevron-down"></span> </span>
                                </a>
                                <ul class="collapse nav flex-column ms-2" id="submenu5" data-bs-parent="#menu">

                                    <li class="w-100">

                                        <li class="w-100 nav-item dropdown">
                                            <a class="nav-link rapport dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fa fa-down-left-and-up-right-to-center"></i>Epargne
                                            </a>
                                        </li>

                                    </li>
                                       {# <li class="w-100 nav-item dropdown">
                                            <a class="nav-link rapport dropdown-toggle" href="{{ path('app_plan_comptable_new') }}" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fa fa-down-left-and-up-right-to-center"></i>Plan Comptable
                                            </a>
                                        </li> #}

                                        {#  #}
                                        <li class="w-100">
                                            <a href="{{path('app_plan_comptable_new')}}" class="nav-link px-0"> <span class="d-none d-sm-inline lien"> <i class="fa fa-book-open"></i> Plan Comptable </span></a>
                                        </li>
                                        {#  #}

                                    </li>
                                </ul>
                            </li>


                            {# Fin Comptabilite #}


                            <!-- Reference    -->

                            <li>
                                <a href="#submenu6" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                    <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline menu"> <i class="fa-solid fa-gear"></i> Reference <span class="fa fa-chevron-down"></span>  </span></a>
                                <ul class="collapse nav flex-column ms-4" id="submenu6" data-bs-parent="#menu">
                                    <li class="w-100">
                                        <a href="{{path('app_langue_new')}}" class="nav-link px-0"> <span class="d-none d-sm-inline lien"> <i class="fa fa-pencil"> </i> Langue </span></a>
                                    </li>
                                    <li>
                                        <a href="{{path('app_titre_new')}}"  class="nav-link px-0"> <span class="d-none d-sm-inline lien"> <i class="fa-solid fa-user"></i>  Titres </span></a>
                                    </li>
                                    <li>
                                        <a href="{{path('app_etatcivile_new')}}"  class="nav-link px-0"> <span class="d-none d-sm-inline lien"> <i class="fa-solid fa-flag"></i> Etat civile </span> </a>
                                    </li>
                                    <li>
                                        <a href="{{path('app_etude_new')}}" class="nav-link px-0"> <span class="d-none d-sm-inline lien"> <i class="fa fa-book"></i> Niveau d'etude </span></a>
                                    </li>
                                    <li>
                                        <a href="{{path('app_devise_new')}}"  class="nav-link px-0"> <span class="d-none d-sm-inline lien"> <i class="fa fa-dollar"></i> Devise </span> </a>
                                    </li>
                                    <li>
                                        <a href="{{path('app_categorie_credit_new')}}"  class="nav-link px-0"> <span class="d-none d-sm-inline lien"> <i class="fa fa-dollar"></i> Categorie Credit</span> </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                        <hr>
                        <!-- Deconnection  et inscription  -->
                        <div class="dropdown pb-4">
                            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="img-fluid avatar" src="{{ asset('images/img_avatar.png') }}" width="30" alt="AVATAR" style="border-radius: 50%;" >
                                <span class="d-none d-sm-inline mx-1 lien">{{ app.user.prenom }}</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-primary text-small shadow dropmenu" aria-labelledby="dropdownUser1">
                                <li><a class="dropdown-item down" href="{{path('app_inscription_')}}" > Créer un compte </a></li>
                                
                                <li><a class="dropdown-item down" href="#" >Connecté en tant que <p id="utilisateur">{{ app.user.prenom }}</p></a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item down" href="{{path('app_logout')}}" > <i class="fa fa-fw fa-sign-out"></i>  Déconnecté </a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-12 col-md-12 col sm-12">
                                <div class="row head">
                                    <div class="col-6 col-xl-6">
                                        <div class="d-flex justify-content-start">
                                            <h5 class="text_head m-3">{% block head %} Fidev {% endblock %}</h5>
                                        </div>
                                    </div>
                                    <div class="col-6 col-xl-6">
                                        <div class="d-flex justify-content-end">
                                            <p class="m-3"> Agence : {{ app.user.nomagence }} </p>
                                            <p class="m-3"> Code : {{ app.user.codeagence }} </p>
                                        </div>
                                    </div>
                                    <hr class="fw-bold">
                                </div>
                                <div class="row">
                                    <div class="rounded g-0 shadow-sm p-3 m-2">
                                        {% block body %}
                                            
                                        {% endblock %}
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                </div>
            </div>
        </div>

</body>
</html>