<hr/>
{{ form_start(form) }}
    <div class="row">
        <div class="col-sm-4 col-xl-4">
            <div style="display:none">
                {{ form_row(form.numeroCredit) }}
                {{ form_row(form.montantCredit) }}
            </div>
            {{ form_row(form.dateDecaissement) }}
            {{ form_row(form.NumeroCompteEpargne) }}
            {{ form_row(form.pieceComptable) }}
            <div class="row">
                <div class="col-sm-6 mt-2">
                    {{ form_row(form.cash) }}
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xl-4">
            {{ form_row(form.commissionCredit) }}
            {{ form_row(form.caisseCredit) }}
        </div>
        <div class="col-sm-4 col-xl-4">
            {{ form_row(form.fraisDeDeveloppement) }}
            {{ form_row(form.fraisPapeterie) }}
        </div>
    </div>

    <hr/>
    <div class="row">
        <h5 class="fw-bold text-center"> Comptabilité </h5>
        <div class="col-sm-4 col-md-4">
            <h6 class="text-primary text-center"> Plan comptable (PCEC)</h6>
            {{ form_row(form.debit) }}
            {{ form_row(form.credit) }}
        </div>
        <div class="col-sm-4 col-md-4">
            <h6 class="text-primary text-center"> Plan analytique </h6>
            {{ form_row(form.debitAnalytique) }}
            {{ form_row(form.creditAnalytique) }}
        </div>
        <div class="col-sm-4 col-md-4">
            <h6 class="text-primary text-center"> Plan Budgetaire </h6>
            {# {{ form_row(form.papeterie) }}
            {{ form_row(form.montant_bruite) }} #}
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <div class="row">
            <div class="col-sm-6 mt-2">
                <button class="btn btn-sm btn-primary">{{ button_label|default('Décaisser') }}</button>
            </div>
        </div>
    </div>
{{ form_end(form) }}
