<hr/>
{{ form_start(form) }}
    <div class="row">
        <div class="col-sm-4 col-xl-4">
            <div style="display:none">
                {{ form_row(form.numeroCredit) }}
                {{ form_row(form.montantCredit) }}
            </div>
            {{ form_row(form.dateDecaissement) }}
            {{ form_row(form.NumeroCompteEpargne) }}
            <div class="row">
                <div class="col-sm-6 mt-2">
                    {{ form_row(form.cash) }}
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xl-4">
            {{ form_row(form.pieceComptable) }}
        </div>
        <div class="col-sm-4 col-xl-4">
            {{ form_row(form.fraisDeDeveloppement) }}
            {{ form_row(form.commissionCredit) }}
        </div>
    </div>

    <hr/>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <div class="row">
            <div class="col-sm-6 mt-2">
                <button class="btn btn-sm btn-primary">{{ button_label|default('Décaisser') }}</button>
            </div>
        </div>
    </div>
{{ form_end(form) }}
