{% extends 'base.html.twig' %}

{% block title %}Decaissement{% endblock %}
{% block head %}Decaissement/nouvelle {% endblock %}

{% block body %}
    <div class="card p-3">
            <div class="card mb-3">
                <div class="row text-secondary m-3">
                    <div class="col-sm-4 col-xl-4">
                        <p class="fw-bold"> Nom du client : <span > {{ numerocredit }} </span> </p>
                        <p class="fw-bold"> Prenom du client : <span> {{ prenomclient }}</span> </p>
                    </div>
                    <div class="col-sm-4 col-xl-4">
                        <p class="fw-bold"> Numero de credit : <span id="numero_credit" > {{ numerocredit }} </span> </p>
                        <p class="fw-bold"> Montant de credit : <span id="montant_credit" > {{ montantcredit }} </span> </p>
                    </div>
                </div>
            </div>
        {{ include('Module_credit/crud_decaissement/_form.html.twig') }}
    </div>

{% endblock %}
