{% extends 'base.html.twig' %}

{% block title %}Decaissement{% endblock %}
{% block head %}Decaissement{% endblock %}

{% block body %}

    <div class="card mb-3">
        <div class="row m-2 text-secondary">
            {% for demande in demandes %}
                <div class="col-sm-4 col-xl-4">
                    <p class="fw-bold"> Nom du client : <span > {{ demande.nom_client }} </span> </p>
                    <p class="fw-bold"> Prenom du client : <span> {{ demande.prenom_client }}</span> </p>
                </div>
                <div class="col-sm-4 col-xl-4 m-auto">
                    <p class="fw-bold"> Cycle de credit :  </p>
                </div>
                <div class="col-sm-4 col-xl-4">
                    <p class="fw-bold"> Numero de credit : <span id="numero_credit" > {{ demande.NumeroCredit }} </span> </p>
                    <p class="fw-bold"> Montant de credit : <span id="montant_credit" > {{ demande.Montant }} </span> </p>
                </div>
            {% endfor %}
        </div>
    </div>
    {{ include('Module_credit/crud_decaissement/_form.html.twig') }}

{% endblock %}
