{% extends "base.html.twig" %}

{% block title %}
    Configuration compte epargne 
{% endblock %}

{% block head %}
    Configuration compte epargne 
{% endblock %}
{% block body %}

  {{ include('modal.html.twig') }}
    <div class="d-flex justify-content-end m-3">
        <a href="{{ path('app_config_ep_new') }}" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i>Ajouter nouveau</a>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Code Nom Produit</th>
                <th>Negatif</th>
                <th>Status</th>
                <th>Jour minimum retrait</th>
                <th>Jour maximum depot</th>
                <th>Age minimum</th>
                <th>Compte Produit </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for config_ep in config_eps %}
            <tr>
                <td>{{ config_ep.produitEpargne.nomproduit }}</td>
                <td>{{ config_ep.IsNegatif ? 'Oui' : 'Non' }}</td>
                <td>{{ config_ep.statusProduit ? 'activé' : 'desactivé' }}</td>
                <td>{{ config_ep.nbMinRet }}</td>
                <td>{{ config_ep.NbrJrMaxDep }}</td>
                <td>{{ config_ep.ageMinCpt }}</td>
                <td>{{ config_ep.compteProduit.NumeroCompte }}--{{ config_ep.compteProduit.Libelle }}</td>
                <td>
                    <div class="row">
                        <div class="col-4 col-sm-4">
                            <a href="{{ path('app_config_ep_show', {'id': config_ep.id}) }}" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i></a>
                        </div>
                        <div class="col-4 col-sm-4">
                            <a href="{{ path('app_config_ep_edit', {'id': config_ep.id}) }}" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascript %}
    <script>
        $(window).on('load',() =>{
            $('#myModal').modal('show')
        })
    </script>

{% endblock %}
