{% extends "base.html.twig" %}

{% block title %}
    Configuration compte epargne 
{% endblock %}

{% block head %}
    Configuration compte epargne 
{% endblock %}
{% block body %}
  {# /***************Messages succes ******************/#}
  {{ include('modal.html.twig') }}

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Code Nom Produit</th>
                <th>Negatif</th>
                <th>Nombre de jour Inactif</th>
                <th>Nombre jour minimum retrait</th>
                <th>Nombre jour maximum depot</th>
                <th>Age minimmum</th>
                <th>Frais tenu compte</th>
                <th>Commission retrait cash</th>
                <th>Commission transaction</th>
                <th>Frais Fermeture compte</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for config_ep in config_eps %}
            <tr>
                <td>{{ config_ep.produitEpargne }}</td>
                <td>{{ config_ep.IsNegatif ? 'Oui' : 'Non' }}</td>
                <td>{{ config_ep.nbrjInactif }}</td>
                <td>{{ config_ep.nbMinRet }}</td>
                <td>{{ config_ep.NbrJrMaxDep }}</td>
                <td>{{ config_ep.ageMinCpt }}</td>
                <td>{{ config_ep.fraisTenuCpt }}</td>
                <td>{{ config_ep.commissionRetCash }}</td>
                <td>{{ config_ep.commissionTransf }}</td>
                <td>{{ config_ep.fraisFermCpt }}</td>
<<<<<<< HEAD
                <td>
                    <div class="row">
                        <div class="col-4 col-sm-4">
                            <a href="{{ path('app_config_ep_show', {'id': config_ep.id}) }}" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i></a>
                        </div>
                        <div class="col-4 col-sm-4">
                            <a href="{{ path('app_config_ep_edit', {'id': config_ep.id}) }}" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></a>
                        </div>
                    </div>
                </td>
=======
>>>>>>> refs/remotes/origin/main
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="{{ path('app_config_ep_new') }}" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i>Ajouter nouveau</a>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(window).on('load',() =>{
            $('#myModal').modal('show')
        })
    </script>

{% endblock %}
