{% extends "base.html.twig" %}

{% block title %}
<<<<<<< HEAD
  Information sur les client {{ individuelclient.nomClient }}
{% endblock %}

{% block head %}
  Information sur les client {{ individuelclient.nomClient }}
=======
  Information sur les client {{ individuelclients.nomClient }}
{% endblock %}

{% block head %}
  Information sur les client {{ individuelclients.nomClient }}
>>>>>>> refs/remotes/origin/main
{% endblock %}

{% block body %}

<section style="background-color: #eee;" style="color:black;">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <a href="{{ path('app_individuel_index') }}" class="btn btn-primary btn-sm"><i class="fa fa-list"></i> Voir liste client</a>
            <li class="breadcrumb-item active" aria-current="page"> </li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
<<<<<<< HEAD
            <img src="{{ asset('uploads/photo/' ~ client.getPhoto()) }}" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;height:150px;border-radius:100%;">
            <h5 class="my-3" style="color:black;"><b>{{ individuelclient.nomClient }}</b></h5>
            <h5 class="my-3" style="color:black;"><b>{{ individuelclient.prenomClient }}</b></h5>
            <h5 class="my-3" style="color:black;"><b> {{ individuelclient.codeclient }}</b></h5>
=======
            <img src="{{ asset('uploads/photo/' ~ individuelclients.getPhoto()  ) }}" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;height:150px;border-radius:100%;">
            <h5 class="my-3" style="color:black;"><b>{{ individuelclients.nomClient }}</b></h5>
            <h5 class="my-3" style="color:black;"><b>{{ individuelclients.prenomClient }}</b></h5>
            <h5 class="my-3" style="color:black;"><b> {{ individuelclients.codeclient }}</b></h5>
>>>>>>> refs/remotes/origin/main
            <p class="text-muted mb-1"></p>
            <p class="text-muted mb-4"></p>
            <div class="d-flex justify-content-center mb-2">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card p-2">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <p class="mb-0" style="color:black;">Carte d'identite National</p>
              </div>
              <div class="col-sm-6">
<<<<<<< HEAD
                <p class="text-muted mb-0">{{ individuelclient.cin|number_format(0,',', ' ') }}</p>
=======
                <p class="text-muted mb-0">{{ individuelclients.cin|number_format(0,',', ' ') }}</p>
>>>>>>> refs/remotes/origin/main
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-6">
                <p class="mb-0" style="color:black;">Adresse</p>
              </div>
              <div class="col-sm-6">
<<<<<<< HEAD
                <p class="text-muted mb-0">{{ individuelclient.adressePhysique }}</p>
              </div>
            </div>
            <hr>
=======
                <p class="text-muted mb-0">{{ individuelclients.adressePhysique }}</p>
              </div>
            </div>
            <hr>

            {% for commune in communes %}

>>>>>>> refs/remotes/origin/main
             <div class="row">
              <div class="col-sm-6">
                <p class="mb-0" style="color:black;">Code Commune </p>
              </div>
              <div class="col-sm-6">
<<<<<<< HEAD
                <p class="text-muted mb-0">{{individuelclient.CodeCommune}}</p>
=======
                <p class="text-muted mb-0">{{commune.CodeCommune}}</p>
>>>>>>> refs/remotes/origin/main
              </div>
            </div>
            <hr>

             <div class="row">
              <div class="col-sm-6">
                <p class="mb-0" style="color:black;">Commune </p>
              </div>
              <div class="col-sm-6">
<<<<<<< HEAD
                <p class="text-muted mb-0">{{individuelclient.NomCommune }}</p>
              </div>
            </div>
            <hr>
                
=======
                <p class="text-muted mb-0">{{commune.NomCommune }}</p>
              </div>
            </div>
            <hr>
              
            {% endfor %}  
>>>>>>> refs/remotes/origin/main
            <div class="row">
              <div class="col-sm-6">
                <p class="mb-0" style="color:black;">Numero Telephone</p>
              </div>
              <div class="col-sm-6">
<<<<<<< HEAD
                <p class="text-muted mb-0">{{ individuelclient.numeroMobile }}</p>
=======
                <p class="text-muted mb-0">{{ individuelclients.numeroMobile }}</p>
>>>>>>> refs/remotes/origin/main
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-6">
                <p class="mb-0" style="color:black;">Profession</p>
              </div>
              <div class="col-sm-6">
<<<<<<< HEAD
                <p class="text-muted mb-0">{{ individuelclient.profession }}</p>
=======
                <p class="text-muted mb-0">{{ individuelclients.profession }}</p>
>>>>>>> refs/remotes/origin/main
              </div>
            </div>
              <hr/>
            <div class="row">
              <div class="col-sm-6">
                <p class="mb-0" style="color:black;">Etat Civile</p>
              </div>
              <div class="col-sm-6">
<<<<<<< HEAD
                <p class="text-muted mb-0">{{individuelclient.etatcivile}}</p>
=======
                <p class="text-muted mb-0">{{etatciviles.etatcivile}}</p>
>>>>>>> refs/remotes/origin/main
              </div>
            </div>
              <hr/>

            <div class="row">
              <div class="col-sm-6">
                <p class="mb-0" style="color:black;">Nombre d'enfant</p>
              </div>
              <div class="col-sm-6">
<<<<<<< HEAD
                <p class="text-muted mb-0">{{individuelclient.nbEnfant}}</p>
=======
                <p class="text-muted mb-0">{{individuelclients.nbEnfant}}</p>
>>>>>>> refs/remotes/origin/main
              </div>
            </div>
            <hr/>

            <div class="row">
              <div class="col-sm-6">
                <p class="mb-0" style="color:black;">Nombre personne en charge </p>
              </div>
              <div class="col-sm-6">
<<<<<<< HEAD
                <p class="text-muted mb-0">{{individuelclient.nbPersonneCharge}}</p>
=======
                <p class="text-muted mb-0">{{individuelclients.nbPersonneCharge}}</p>
>>>>>>> refs/remotes/origin/main
              </div>
            </div>
            <hr/>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
